
/* ------------------- Overall Specifications ------------- */

body {
  line-height: 1.5;
  font-size: 87.5%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}
h1 {
  font-size: 1.357em;
  color: #000;
}
h2 {
  font-size: 1.143em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}
tr.odd {
  background-color: #dddddd;
}
img {
  outline: 0;
}

/**
 * The generic monospace font family is listed before Courier new to avoid a
 * a bug in font-size rendering:
 * http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing
 */
code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.77em;
  font-family: Helvetica, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
.description code {
  font-size: 1em;
}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li.leaf {list-style-image:none; list-style-type: none; display: inline-block;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li.leaf > a {font-family: Helvetica, sans-serif; font-size: 12px; text-decoration: underline;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li.first.leaf:after ,
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(2):after,
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(3):after {content: ' | '; padding-left: 5px; padding-right:0;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(5) {display:block; text-align:center; margin-top: -5px; margin-bottom: -10px;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(6) {display:block; width: 90%; border: 1px solid black; border-radius:5px; height:30px; margin-top:0; margin-bottom:0; background-color:white;}
#block-menu-menu-creople-top-menu > div.content > ul > li > a > img {border-radius:5px; border: 1px solid #fff;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(6) > a {padding-left: 20px; text-decoration:none; font-size:20px;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li.last.leaf {display:block; width: 90%; background-color: #C6C7CB;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEECED), to(#C6C7CB), color-stop(.5,#C6C7CB));
background: -moz-linear-gradient(top, #EEECED 0%, #C6C7CB 50%, #C6C7CB 100%);background-position:center; line-height:28px; border-radius:5px; text-align:center;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li.last.leaf > a {font-size: 20px; text-align:center; width:100%; text-decoration:none; font-weight:bold; color: #000; text-shadow:none;}

#block-user-login {width:100%; padding-top:5px; padding-bottom:15px;}
#user-login-block-form-fields > div.form-item.form-type-textfield.form-item-name > label {display:none;}
#user-login-block-form-fields > div > input {margin-bottom:0; height:40px;}
#user-login-block-form-fields > div > input#edit-name--2, #user-login-block-form-fields > div > input#edit-name {border-top-left-radius: 5px; border-top-right-radius:5px; border:1px solid black; margin-bottom: -3px; font-family: Arial, Helvetica, sans-serif; font-size:20px;padding-left:20px; width:275px; font-weight:bold;}
#user-login-block-form-fields > div > input#edit-pass {border:1px solid black; font-family: Arial, Helvetica, sans-serif; font-size:20px;padding-left:20px; width:275px; font-weight:bold;}


#user-login-block-container > div:nth-child(2) > div.threebuttons > ul > li:nth-child(3) {border:0;}
div.threebuttons{margin-bottom: 15px;}
div.threebuttons > ul { width:300px; margin:0; padding:0; border: 1px solid black; border-radius:5px; margin-left:auto; margin-right:auto; background:#fff;}
div.threebuttons > ul  > li {text-align:left;  height:40px; font-size:20px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid black; padding-top:10px;padding-left:20px; font-weight:bold; }
#user-login-block-container > div > div > div#edit-actions--3 {display:none;}
#search-block-form > div > div > #edit-actions > input#edit-submit--3 {display:none;}
*::-webkit-input-placeholder {color: #888;}
*:-moz-placeholder {color: #888;}
*::-moz-placeholder {color: #888;}
*:-ms-input-placeholder {color: #888;}
#edit-persistent-login {width:30px; height:30px; border: 2px solid black;}
input[type="checkbox"] {background: #fff; margin-left:50px;}
#user-login-block-form-fields > div.form-item.form-type-textfield.form-item-name {margin-bottom:0;}
#user-login-block-form-fields > div.form-item.form-type-password.form-item-pass > label {display:none;}
#user-login-block-form-fields > div.form-item.form-type-password.form-item-pass {margin-top:0; margin-bottom:0;}
#user-login-block-container > div:nth-child(2) > div.links > div.form-item.form-type-checkbox.form-item-persistent-login {margin-top: 0; margin-bottom:0; width:299px; border: 1px solid black; height:40px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; padding-top:10px; background:#fff; margin-left: auto; margin-right:auto;}
#user-login-block-container > div:nth-child(2) > div.links > div.form-item.form-type-checkbox.form-item-persistent-login > label {float:left; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:black; margin-left:20px; font-size:20px;}
#user-login-block-container > div:nth-child(2) > div.links > div.item-list {display:none;}
#user-login-block-container > div > div > #edit-actions--2 {display:none;}
#user-login-block-container > div > div.threebuttons > ul > li {list-style-type:none; list-style-image: none;}
kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  border-radius: 5px;
}
#user-login-form > div > div.form-item.form-type-textfield.form-item-name > label {display:none;}

#user-login-form > div > div.form-item.form-type-password.form-item-pass > label {display:none;}

#user-login-form > div > div.item-list {display:none;}
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap;
}


/* ------------------- Fonts ------------------------------ */

body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input,
textarea,
select,
a.button {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

/* ------------------- Reset Styles ----------------------- */

caption {
  text-align: left; /* LTR */
  font-weight: normal;
}
blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}
blockquote > p:first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* ------------------- Table Styles ----------------------- */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #fff;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}
#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* ------------------- List Styles ------------------------ */

.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
.contextual-region .contextual .contextual-links a {
  font-size: 0.923em;
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: 0.929em;
}
.item-list .pager li {
  padding: 0;
}
.item-list .pager a {
  display: inline-block;
  padding: 10px 15px;
}
.item-list .pager .pager-first a {
  padding: 10px 10px 10px 0;
}
.item-list .pager .pager-previous a {
  padding: 10px 0;
}
.item-list .pager .pager-current {
  padding: 0 10px;
}
.item-list .pager .pager-next a,
.item-list .pager .pager-last a {
  padding: 10px 0 10px 10px;
}
ul.menu li {
  margin: 12px 0;
}

ul.menu li a {
  padding: 10px 0;
}

.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 15px; /* LTR */
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; /* LTR */
}
ul.tips {
  padding: 0 0 0 1.25em; /* LTR */
}

/* ------------------- Header ----------------------------- */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}
#block-menu-menu-creople-top-menu > div.content > ul {width:320px; margin-left:auto; margin-right:auto;}
#block-menu-menu-creople-top-menu > div.content > ul > li {float:left; display:inline-block;}
#block-menu-menu-creople-top-menu > div.content > ul > li:nth-child(4) {margin-left:60px; margin-top: -15px;}
#block-menu-menu-creople-top-menu > div.content > ul > li:nth-child(5) {margin-top:-15px;}
#block-menu-menu-creople-top-menu > div.content > ul > li > a > img {width:90px;}
#block-menu-menu-creople-com {position:absolute; top: 0; margin-top: -33px; height:40px; background: #222222; opacity:1;
padding: 10px 0; text-align:center; margin-left: 0;}
#block-menu-menu-creople-com {
  -webkit-box-sizing: border-box;
border-bottom: 1px solid #2d3642;
padding: 15px;
height: 65px;
background: url(../images/toolbar.png) #6d84a2 repeat-x;
position: absolute; top:0; margin-top:-20px;}
#block-menu-menu-creople-com > div > ul > li > a {
width:95%; text-align:center; background:0; color:white; font-weight:bold; font-size:15px;
}
header {width:100%; margin-left: auto; margin-right:auto;}
#header div.section {padding-top:60px; width:100%;}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}
#logo {
  display: block; /* LTR */
  padding-left: 0; /* LTR */
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

#name-and-slogan {
  float: left; /* LTR */
  margin: 0;
}
#site-name {
  font-size: 1.6em;
  color: #686868;
  line-height: 1;
}
h1#site-name {
  margin: 0;
}
#site-name a {
  font-weight: normal;
}
#site-slogan {
  font-size: 24px;
  position:absolute;
  width:100%;
  text-align:center;
  /*margin-top: 180px;*/
  bottom:0px;
  word-spacing: 0.1em;
  font-style: italic;
  margin-left:-10px;
  color:#203F6D;
}
/* Region header blocks. */
.region-header .block {
  font-size: 0.857em;
  float: left; /* LTR */
  margin: 0 10px;
  padding: 0;
}
.region-header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px; /* LTR */
  width: 120px;
}
#header > div > div.region.region-header {width:100%; text-align:center; margin-right:0;}
#block-menu-menu-creople-com > div.content
{width:100%; margin:auto;}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}
/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 100%;
  margin-left:0;
  margin-right:0;
}
nav#block-menu-menu-what-is-creople- {
display:none;
}
div.comment-text > div.content > div.sharethis-comment > div > span.st_facebook_custom, div.content.clearfix > div.sharethis-buttons > div > span.st_facebook_custom,.st_facebook_custom {background: url('../images/f_logo.png') no-repeat scroll left top transparent; width:26px; height:26px; display:inline-block; cursor:pointer;}
div.comment-text > div.content > div.sharethis-comment > div > span.st_twitter_custom, div.content.clearfix > div.sharethis-buttons > div > span.st_twitter_custom ,.st_twitter_custom  {background: url('../images/t_logo.png') no-repeat scroll left top transparent; width:26px; height:26px; display:inline-block; cursor:pointer;}
#comments > div.comment.comment-by-viewer.clearfix > div.comment-text > div.content > div.sharethis-comment > div {display:inline-block; float:left; margin-top:13px;}

.logged-in .bottom-box .sharethis-wrapper {
    clear: none;
    margin-top: 0;
    float: left;
    margin-left: 2px;
}
div.content.clearfix > div.field.field-name-field-voting-field.field-type-vud-field.field-label-above > div.field-label {display:none;}

.bottom-box .up-score {
 float: left;
 margin-top: -5px;
}
.bottom-box .down-score {
 float: left;
}
.bottom-box .up-current-score {
	float: left;
    margin-left: 2px;
    text-align: center !important;
}
.bottom-box .down-current-score {
float: left;
    margin-left: 2px;
    text-align: center !important;
}

.vud-widget-upanddown .up-score .up-current-score, .vud-widget-upanddown .down-score .down-current-score {display: inline;
font-size: 10px;text-align: right;font-family: arial, helvetica, sans-serif;}
div.content.clearfix > div.field.field-name-field-address.field-type-location.field-label-inline.clearfix > div.field-label
.vud-widget-upanddown .up-inactive,.vud-widget-upanddown div.up-inactive,.vud-widget-upanddown .up-inactive:hover{background: url('../images/thumbsup.png'); width:24px; height:21px;background-position: 0 -42px; }
.vud-widget-upanddown .down-inactive,.vud-widget-upanddown div.down-inactive,.vud-widget-upanddown .down-inactive:hover{background: url('../images/thumbsdn.png'); width:24px; height:21px;background-position: -24px -42px; }
.vud-widget-upanddown .up-score .up-current-score, .vud-widget-upanddown .down-score .down-current-score {display: block;
font-size: 10px;text-align: right;font-family: arial, helvetica, sans-serif;}
.down-current-score { color: #f00; font-weight:700;}
.up-current-score     { color: #2c2; font-weight:700; }
.vud-widget-upanddown .up-score .up-current-score{padding-left:24px;background: url('../images/thumbsup.png') no-repeat;width: 17px;height: 21px;padding-top: 5px}
.vud-widget-upanddown .down-score .down-current-score{padding-left:24px;background: url('../images/thumbsdn.png') no-repeat;width: 17px;height: 21px;}
.vud-widget-upanddown .down-score .vud-link-down,.vud-widget-upanddown .up-score .vud-link-up {display: none}#main > div.breadcrumb {display:none;}

.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}
.region-header .block-menu li.last a {
  border-bottom: 0;
}
/* User Login block in the header region */
.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left; /* LTR */
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em; /* LTR */
}
.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0; /* LTR */
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px; /* LTR */
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* Search block in region header. */
.region-header #block-search-form {
  width: 208px;
}
.region-header #block-search-form .form-text {
  width: 154px;
}
/* Language switcher block in region header. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}

/* ------------------- Main Menu -------------------------- */
#main-menu {
  clear: both;
}
#main-menu-links {
position:absolute; top:0; width:96%; height:290px; margin-top:60px; background:#fff; z-index: 10; border-radius: 5px; border: 1px solid black;
  font-size: 0.929em;
  margin: 0 5px;
  padding: 0;
  text-align: left; /* LTR */
}
#user-profile-form > div > #edit-actions > input#edit-submit {display:inline-block;}
div.link-wrapper > ul > li.node-readmore{background-image: url('../images/gray_button.png'); background-repeat: no-repeat; display:inline-block; padding: 2px 12px 0;}
#content > div > a.feed-icon {display:none;}
div.link-wrapper > ul > li.node-readmore > a {color:white; font-weight:700; text-decoration:none; font-size:12px; line-height:24px;}
div.link-wrapper > ul > li.node-readmore:hover {background-image: url('../images/red_button.png'); text-decoration:none;}
div.link-wrapper > ul > li.map {padding: 4px 5px 0 !important;
outline: none; display:inline-block; border-radius:5px;
height: 20px;
background: url(../images/global_blk_btn_bg.jpg) repeat-x;}
div.link-wrapper > ul > li.map > a {display:inline; font-weight:bold; color: #fff; text-decoration:none;}
footer.meta.submitted > span {width:100px; float:left; text-align:left; position:absolute; left:0; margin-left:140px;}
footer.meta.submitted > div.user-picture {float:left;}
#block-system-main > div > div > div > div > article > h2 > a {margin-top:110px; float:left; text-decoration:none; font-family: Arial, Helvetica, sans-serif;font-size: 15px; font-weight:bold; height:15px;} 
#block-system-main > div > div > div.attachment.attachment-before {display:none;}
nav#main-menu.navigation > ul#main-menu-links.links.clearfix {
margin-top:130px; position:absolute; display:none; float:left;}
#main-menu-links li {
  float: none;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid;
  padding: 0;
  width:30px;
  height:40px;
  width: 100%;
  line-height:10px;
}
#main-menu-links a {
  color: #333;
  background: #fff;
  float: none;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  border-radius: 8px;
  padding: 0.9em 0 0.9em 10px;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
}
#main-menu-links a:active {
  background: #fff;
  }
  #main-menu-links a:after {
  content: '>';
  position:absolute;
  right:0;
  font-weight: bold;
  margin-right:10px;
  }
#main-menu-links li a.active {
  border-bottom: none;
}
#page, #main-wrapper, #main-menu-links li a.active, #main-menu-links li.active-trail a {
background: #fff;
}
#main-wrapper 
{border: 1px solid #000; border-radius:5px; padding:10px; margin:10px;}
/* ------------------- Secondary Menu --------------------- */

#secondary-menu-links {
  float: right; /* LTR */
  font-size: 0.929em;
  margin: 0 10px;
}
#secondary-menu-links  li{
  margin: 0;
  padding: 0;
}
#secondary-menu-links  a {
  display: inline-block;
  padding:  0.8em;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/* ------------------- Main ------------------------------- */

#main {
  margin-top: 20px;
  margin-bottom: 40px;
}
#content .section{padding: 0}
.node-posts .field-name-field-categories a,.node-teaser .content .field-post-title{font-size: 12px;font-weight:bold;}
div.content.clearfix > .bottom-box ul > li.comment-comments , div.content.clearfix .bottom-box > ul > li.comment-new-comments {display: none;}
.bottom-box .field-name-field-upload-media ,.bottom-box .field-name-field-upload-audio,.bottom-box .field-name-field-upload-video  {float: right;margin-left: 10px}
.bottom-box .links .comment_forbidden{display: none}
.node-posts .field-name-field-categories{margin: 0}
div.content.clearfix > .bottom-box ul > li.node-readmore,div.content.clearfix > .bottom-box ul > li.map,div.content.clearfix > .bottom-box ul > li.forward_link{background: black;padding:2px 5px; line-height:30px; text-align:center;border-radius: 3px;}
div.content.clearfix >.bottom-box ul > li > a {font-size:12px;color: white}

/* ------------------- Featured --------------------------- */

#featured {
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4;
  padding: 0px 0px 0px;
  margin: 0;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px #fff;
}
#featured h2 {
  font-size: 1.2em;
  line-height: 1;
}
#featured p {
  margin: 0;
  padding: 0;
}

/* ------------------- Highlighted ------------------------ */

#highlighted {
  border-bottom: 1px solid #d3d7d9;
  font-size: 120%;
}

/* ------------------- Help ------------------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px;
}

/* ------------------- Content ---------------------------- */

.content {
  margin-top: 0;
}
h1#page-title {
  font-size: 2em;
  line-height: 1;
}
#content h2 {
  margin-bottom: 5px;
  font-size: 1.429em;
  line-height: 1.4;
}
#content h2 a:link {
  padding-top: 18px;

}
.node .content {
  font-size: 1.071em;
}
.node-teaser .content {
  font-size: 1em;
}
.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}
.node-teaser h2 a {
  color: #181818;
}
.node-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node-full {
  background: none;
  border: none;
  padding: 0;
}
.node-teaser .content {
  clear: none;
  line-height: 1.6;
}

.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: 10px;
}
.submitted a {
  padding: 10px 0 15px;
}
.submitted .author-picture img {
  float: left; /* LTR */
  height: 100px;
  margin: 1px 5px 0 0; /* LTR */
}
div.content.clearfix > div.field.field-name-field-categories.field-type-taxonomy-term-reference.field-label-above.clearfix > ul > li
{width:100%; height:15px; margin-top:0; margin-bottom:0;}
div.content.clearfix > div.field.field-name-field-categories.field-type-taxonomy-term-reference.field-label-above.clearfix > ul > li > a
{color: #000; font-weight:bold; font-size: 15px; text-decoration:none; float:left; display:block; left:0; padding-top: 0; padding-bottom:0; margin-bottom:0; margin-top:-40px;}
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}
.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px; /* LTR */
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}
.view-mode-teaser .field-type-taxonomy-term-reference .field-label,
.view-mode-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
.field-type-taxonomy-term-reference ul.links li a {
  padding: 5px 0 20px;
}
.link-wrapper {
  text-align: right;
}
.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}

ul.links {
  color: #68696b;
  font-size: 0.821em;
}
ul.links.inline li a {
  display: inline;
  padding: 18px 0 5px;
}

.unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0;
}
.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ------------------- Comments --------------------------- */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .submitted .comment-permalink a {
  padding: 8px 0 18px;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -47px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .comment-text h3  a{
  padding-top: 22px;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment.unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ------------------- Sidebar ---------------------------- */
.sidebar .section {
  padding-top: 10px;
}
.sidebar .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px;
}
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

/* ------------------- Triptych --------------------------- */

#triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
#triptych h2 {
  color: #000;
  font-size: 1.4em;
  margin-bottom: 0.6em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1;
}
#triptych .block {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3;
}
#triptych .block.last {
  border-bottom: none;
}
#triptych .block ul li,
#triptych .block ol li {
  list-style: none;
}
#triptych .block ul,
#triptych .block ol {
  padding-left: 0;
}
#triptych #block-user-login .form-text {
  width: 185px;
}
#triptych #block-user-online p {
  margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
#triptych-last #block-node-syndicate {
  text-align: right;
}
#triptych #block-search-form .form-type-search input {
  width: 185px;
}
#triptych-middle #block-system-powered-by {
  text-align: center;
}
#triptych-last #block-system-powered-by {
  text-align: right;
}

/* ------------------- Footer ----------------------------- */

#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}
#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .block {
  margin: 0.5em 0;
}
#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}
#footer .block h2 {
  margin: 0;
}
#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#footer-columns .content {
  margin-top: 0;
}
#footer-columns p {
  margin-top: 1em;
}
#footer-columns .content ul {
  list-style: none;
  padding-left: 0; /* LTR */
  margin-left: 0;
}
#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px; /* LTR */
  text-indent: -15px;
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
#footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer .region {
  margin-top: 20px;
}
#footer .block {
  clear: both;
}
#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer li a {
  float: left; /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
#footer li.first a {
  padding-left: 0; /* LTR */
}
#footer li.last a {
  padding-right: 0; /* LTR */
  border-right: none; /* LTR */
}
#footer-wrapper tr.odd {
  background-color: transparent;
}
#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}

/* ------------------- System Tabs ------------------------ */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
#content > div > div.tabs > ul {display:none;}
.page-user-friends #content > div > div.tabs > ul {display:block;margin: 0;padding: 0;}
.page-user-friends #content > div > div.tabs > ul > li {padding: 0 6px}
.page-user-friends #content > div > div.tabs > ul > li > a{padding: 0 5px; text-decoration:underline;}
.page-user-friends #content > div > div.tabs > ul > li:first-child > a:{padding-left: 0;}
.page-user-friends #content > div > div.tabs > ul > li:last-child > a:{padding-right: 0}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}

/* ------------------- Messages --------------------------- */

#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
div.messages {
  margin: 8px 15px;
}

/* ------------------- Breadcrumbs ------------------------ */

.breadcrumb {
  font-size: 0.929em;
  padding: 10px;
}

.breadcrumb a {
  padding: 12px 0;
}

/* ------------------- User Profile ----------------------- */

.profile .user-picture {
  float: none;
}

/* ------------------- Password Meter --------------------- */

.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}
.password-strength-text {
  margin-top: 0.2em;
}
div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em;
}

/* ------------------- Buttons ---------------------------- */

input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 4px 17px;
  border-radius: 15px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* ------------------- Form Elements ---------------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  border-radius: 4px;
}
.fieldset-wrapper {
  margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
  background: transparent;
  border-radius: 0;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  border-radius: 4px;
}
fieldset legend a {
  color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}
input {
  margin: 2px 0;
  padding: 4px;
}
input,
textarea {
  font-size: 0.929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.password-suggestions ul li {
  margin-left: 1.2em; /* LTR */
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}
/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  border-radius: 4px;
}
.contact-form #edit-mail {
  width: 75%;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 75%;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 76.3%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ------------------- Disabled Form Elements ------------- */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled label {
  color: #717171;
}

/* ------------------- Animated Throbber ------------------ */
.js input.form-autocomplete {
  background-position: 100% 4px; /* LTR */
}
.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}

/* ------------------- Comment Form ----------------------- */
.comment-form label {
  float: left; /* LTR */
  font-size: 0.929em;
  width: 120px;
}
.comment-form input,
.comment-form .form-select {
  margin: 0;
  border-radius: 4px;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
  width: 800px;
}
.one-sidebar .comment-form .form-text {
  width: 500px;
}
.two-sidebars .comment-form .form-text {
  width: 320px;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px; /* LTR */
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
#edit-actions input {
  margin-right: 0.6em; /* LTR */
  
}
/* ------------------- Other Overrides -------------------- */

div.password-suggestions {
  border: 0;
}
.ui-widget-overlay {
  background: #222222;
  opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}

/* ------------------- Search Form ------------------------ */

#block-search-form {
  height:43px;
  padding:5px 10px;
  background:#c6c7cb url('../images/grayToolbar.png') repeat-x 0 0;
  border-bottom:1px solid;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input[type="search"],
#block-search-form input[type="search"] {
  box-sizing: border-box;
  padding: 4px;
  -webkit-appearance: textfield;
}
#search-form input[type="search"]::-webkit-search-decoration,
#block-search-form input[type="search"]::-webkit-search-decoration {
  display: none;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: right; /* LTR */
  font-size: 12px;
  margin-top:0;
  box-shadow:inset 1px 1px 3px rgba(95, 97, 96, 0.7);
  width: 200px;
  height:29px;
  border-radius:20px;
  padding-left: 10px
  }
#search-block-form > div > .container-inline > .form-actions.form-wrapper > input.form-submit,
#search-form .form-actions.form-wrapper > input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 38px !important;
  font-size: 16px !important;
  padding: 8px 10px !important;
  border-radius: 5px !important;
  cursor: pointer;
  background:#6d84a2 url() !important;
  color:white;
  }
  
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}

/* ------------------- Search Results --------------------- */
ol.search-results {
  padding-left: 0;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}

/* ------------------- Shortcut Links --------------------- */

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
  float: left; /* LTR */
  margin: 0;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}

/* ------------------- Admin-specific Theming ------------- */

.page-admin #content img {
  margin-right: 15px; /* LTR */
}
.page-admin #content .simpletest-image img {
  margin: 0;
}
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
  font-size: 0.55em;
}
.page-admin-structure-block-demo #header .block-region {
  width: 500px;
}
.page-admin #admin-dblog img {
  margin: 0 5px;
}
/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0;
}
/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

/* ------------------- Overlay Layout Styles -------------- */

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
  display: block;
  float: none;
}
.overlay #messages {
  width: auto;
}

/* ------------------- Poll ------------------------------- */

.node .poll {
  margin: 2em 0;
}
.node .poll #edit-choice {
  margin: 0 0 1.5em;
}
.poll .vote-form {
  text-align: left; /* LTR */
  margin: 0;
}
.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right; /* LTR */
  text-align: right; /* LTR */
}
.poll .choice-title {
  clear: right; /* LTR */
}
.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right; /* LTR */
  clear: both;
}
.node .poll {
  margin: 1.8em 0 0;
}
.node .poll .text {
  margin-right: 6.75em;
}
.node .poll #edit-choice {
  margin: 0 0 1.2em;
}
.poll .bar .foreground {
  background-color: #666;
}
#footer-wrapper .poll .bar {
  background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
  background-color: #ddd;
}

/* ------------------- Book ------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #d6d6d6;
}
.book-navigation .book-pager {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  margin: 0;
}

/* ------------------- Menu Toggle Link ------------------- */
a#menu-toggle {
  display:none;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  padding: 0.7em 0 0.7em 10px;
  text-decoration: none;
  text-shadow: 0 1px #EEEEEE;
  position:relative;
}

a#menu-toggle:after {
  content:"";
  background: url('../images/toggle.png') no-repeat;
  width: 22px;
  height: 30px;
  display: inline-block;
  margin-top:9px;
  position:absolute;
}
div.link-wrapper {text-align:left; margin-top:20px;}
div.link-wrapper > ul > li.comment-comments {display:none;}
div.link-wrapper > ul > li.comment-new-comments {display:none;}
div.content.clearfix > div.field.field-name-field-address.field-type-location.field-label-inline.clearfix > div.field-label
{display:none;}
div.link-wrapper > ul > li.forward_link.last {display:none;}
#search-block-form > div > div > input[type="submit"] {

	/* border-width: 0 5px; */
border: 1px solid #223e6d;
margin-top:5px;
font-family: Helvetica, sans-serif;
-webkit-border-radius: 5px;
-webkit-box-shadow: inset 1px 1px 2px rgba(34, 62, 109, 0.5);
padding: 0 6px;
width: 80px;
height: 31px;
line-height: 31px;
font-size: 12px;
font-weight: bold;
color: #fff;
text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
text-overflow: ellipsis;
text-decoration: none;
white-space: nowrap;
/* background: none; */
background: #194FDB url('../images/selection.png') repeat-x scroll 0 0;
/* -webkit-border-image: url(../images/blueButton.png) 0 5 0 5; */
}

#posts-node-form > div > div.vertical-tabs.clearfix{display:none;}
#edit-field-upload-media-und > legend {display:none;}



/* ------------------- Media Queries ---------------------- */

@media all and (max-width: 460px) {
#page-wrapper, {margin-top:20px;}
#footer-wrapper {background:#fff !important; margin-top: 0; padding-top: 0; padding-bottom:0;}
#block-block-3 > div.content > p {font-size:15px;}
#block-block-3 > div.content > p > a{color:#000; text-decoration:underline;}
#block-block-3 > div.content > p > a:hover {color:#000;}
#footer {margin-top: 0; border-top: 0; border: 0; color: #000;}

#edit-field-address-und-0 {width:258px; border:none;}
#edit-field-address-und-0 > legend {display:none;}
#edit-field-address-und-0 > div {padding:0;}
.location .form-item input {width:250px;}
#edit-field-upload-media-und > legend > span {display:none;}
fieldset .fieldset-wrapper {padding:0; width:250px;
}





div.content.clearfix > div.field.field-name-field-categories.field-type-taxonomy-term-reference.field-label-above.clearfix
{margin-bottom:0;}
div.content.clearfix > div.field.field-name-field-categories.field-type-taxonomy-term-reference.field-label-above.clearfix > h3
{display:none;}
#node-41 > div.content.clearfix > div.field.field-name-field-upload-media.field-type-file.field-label-above > div.field-label
{display:none;}
  /* ----------------- Menu on Small Resolutions ---------- */
  a#menu-toggle {
    display:block;
	position:absolute;
	top:65px;
	color: #494949;
	background:#6d84a2;
	margin-left:10px;
	border-radius:10px;
	width:30px; height:40px;
	font-size:0px;
  }
  #block-menu-menu-creople-com {
  -webkit-box-sizing: border-box;
border-bottom: 1px solid #2d3642;
padding: 15px;
height: 65px;
background: url(../images/toolbar.png) #6d84a2 repeat-x;
position: absolute; top:0; margin-top:-20px;}
#block-menu-menu-creople-com > div > ul > li > a {
width:95%; text-align:center; background:0; color:white; font-weight:bold; font-size:15px;
}
  #main-menu-links {
    display: none;
    height: auto;
  }
  /* ----------------- Forms on Small Screens ------------- */
  input.form-text,
  input.form-tel,
  input.form-email, 
  input.form-url,
  input.form-search,
  input.form-number, 
  input.form-color,
  textarea.form-textarea,
  select.form-select {
    width: 100%;
  }
}
#featured > div > div {background:#FFF;}
.region-header{margin-top: 0}
@media all and (min-width: 461px) and (max-width: 900px) {
 /* ------------------ Header and Menus ------------------- */

 .region-header {
/*    margin: .5em 5px .75em;
*/  }
  #logo {
    padding: 5px 0 0 5px; /* LTR */
  }
  
  #main-menu-links {
    margin: 0 5px;
    padding: 0;
    text-align: center;
  }
  #main-menu-links li {
    float: left;
    margin-right: 5px;
    padding: 0;
	border-bottom: 1px dotted;
    display: inline-block;
    width: 100%;
  }
  #main-menu-links li:nth-child(3n) {
    margin-right: -5px; /* LTR */
  }
  #main-menu-links a {
    float: none;
    display: block;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 0.9em 5px;
  }
  #featured {
    font-size: 1.43em;
  }
  #featured h2 {
    font-size: 1.174em;
  }
  #triptych h2 {
    font-size: 1.243em;
    margin-bottom: 0.9em;
  }
}

@media all and (min-width: 901px) {

  .region-header {
    margin: 1em 5px 1.5em;
  }
  #logo {
    padding: 15px 15px 15px 10px; /* LTR */
  }
  #name-and-slogan {
    padding: 26px 0 0;
    margin: 0 0 30px 15px; /* LTR */
  }
  #site-name {
    font-size: 1.821em;
  }
  #main-menu-links {
    font-size: 0.929em;
    margin: 0;
    padding: 0 15px;
  }
  #main-menu-links li {
    float: left; /* LTR */
    list-style: none;
    padding: 0 1px;
    margin: 0 1px;
	border-bottom: 1px dotted;
    width: 100%;
  }
  #main-menu-links a {
    float: left; /* LTR */
    padding: 0.7em 0.8em;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #featured {
    font-size: 1.643em;
    line-height: 1.4;

  }
  #featured h2 {
    font-size: 1.174em;
    line-height: 1;
  }
  .featured #main-menu-links li a:active,
  .featured #main-menu-links li a.active {
    background: #f0f0f0;
    background: rgba(240, 240, 240, 1.0);
  }
}


/* ------------------- Misc Fixes ------------------------- */
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  left: 0;
}
#edit-field-upload-media-und-0-upload-button,#edit-field-upload-video-und-0-upload-button, input.form-submit, a.button{margin: 10px 0;padding: 0 8px 3px !important;outline: none;height: 24px;background: url(../images/global_blk_btn_bg.jpg) repeat-x;font-family: Helvetica, sans-serif;font-size: 12px;font-weight: bold; color:white; border:0;border-radius: 5px }
.field-name-field-date-of-birth fieldset{border: none;margin-top:0;margin-bottom: 0;padding: 0;border-radius: 0;top:0;}
.field-name-field-date-of-birth fieldset .fieldset-wrapper{width: 100%}
.field-name-field-date-of-birth fieldset legend,#edit-field-copy-to-friend-und,#edit-field-date-of-birth-und-0-value .description{display: none;}
#edit-field-date-of-birth-und-0-value.date-padding{padding: 0;float: none}
.page-user-edit input[type=text],.page-user-edit input[type=password],.page-user-register input[type=text],.page-user-register input[type=password]{width:95%}
 #edit-field-date-of-birth .date-no-float.container-inline-date{width: 100%}
#edit-field-date-of-birth .date-no-float.container-inline-date .form-item{width: 100%}
.confirm-parent, .password-parent{width: 100%}
.password-strength {display: none;}
.form-item-field-address-und-0-locpick-user-latitude, .form-item-field-address-und-0-locpick-user-longitude,#edit-field-address .description{display: none}
.bottom-box .field-name-field-upload-video,.bottom-box .field-name-field-upload-audio,.bottom-box .field-name-field-upload-media { display: inline-block;}
.uploaded_media{ float: right;}
.view-taxonomy-term .user-name, .view-homepage .user-name,.view-profile .user-name{font-weight: bold;color:black;font-size: 16px}
#edit-field-copy-to-friend  label, #edit-cancel{background: url("../images/global_blk_btn_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);border: 0 none;border-radius: 5px;color: white;cursor: pointer;display: inline-block;font-family:Arial,Helvetica,sans-serif;font-size: 12px;font-weight: bold;height: 24px;line-height: 24px;margin: 0;outline: medium none; padding: 0 5px;}
div > div#edit-actions.form-actions.form-wrapper > input#edit-delete.form-submit ,
div > div#edit-actions.form-actions.form-wrapper > input#edit-submit.form-submit ,
div > div#edit-actions.form-actions.form-wrapper > input#edit-preview.form-submit {margin: 0;padding: 0 8px 3px !important;outline: none;height: 24px;background: url(../images/global_blk_btn_bg.jpg) repeat-x;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold; color:white; border-radius:5px; border:0; }
div > div#edit-actions.form-actions.form-wrapper > input#edit-delete.form-submit ,
div > div#edit-actions.form-actions.form-wrapper > input#edit-preview.form-submit {margin-left:5px;}

 a#menu-toggle {
    display:block;
	position:absolute;
	top:65px;
	color: #494949;
	background:#6d84a2;
	margin-left:10px;
	border-radius:10px;
	width:30px; height:40px;
	font-size:0px;
  }
  #block-menu-menu-creople-com {
  -webkit-box-sizing: border-box;
border-bottom: 1px solid #2d3642;
padding: 15px;
height: 65px;
background: url(../images/toolbar.png) #6d84a2 repeat-x;
position: absolute; top:0; margin-top:-20px;}
#block-menu-menu-creople-com > div > ul > li > a {
width:95%; text-align:center; background:0; color:white; font-weight:bold; font-size:15px;
}
#main-menu-links li.last {
	border-bottom:none;
}
#main-menu-links a {
	display:block;
	width:100%;
	    padding: 0.9em 0 0.9em 0px;
		text-align:center;
		font-size:16px;
}
#search-block-form .container-inline {
	text-align:left;
}
#footer .region {
	margin-top:0;
}
#footer {
	margin-top:0;
	text-align:center;
	color:#fff;
}
#footer a {
	text-decoration:underline;
}
#footer-wrapper {
	padding:0;
	background: url(../images/toolbar.png) #6d84a2 repeat-x!important;
	height:65px;
	border-top: 1px solid #2d3642;
}
#block-block-3 {
	position:relative;
	top:15px;
}
#footer .block, #footer p {
	margin:0;
}

/*#user-login-block-container > div > div.submit > input#edit-submit--3, #user-login-block-container > div > div.submit > input#edit-submit--2 {background-color: #C6C7CB;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEECED), to(#C6C7CB), color-stop(.5,#C6C7CB));background: -moz-linear-gradient(top, #EEECED 0%, #C6C7CB 50%, #C6C7CB 100%);background-position:center; border-radius:5px; text-align:center; font-size:20px; font-weight:bold; width:95%; margin-top:10px; margin-bottom:10px; border-radius:5px; margin-left:auto; margin-right:auto;padding: 10px 8px !important;height: auto;}*/
button.mobile-login-button{display:block;background-color: #C6C7CB;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEECED), to(#C6C7CB), color-stop(.5,#C6C7CB));background: -moz-linear-gradient(top, #EEECED 0%, #C6C7CB 50%, #C6C7CB 100%);background-position:center; border-radius:5px; text-align:center; font-size:20px; font-weight:bold; width:95%; margin-top:10px; margin-bottom:10px; border-radius:5px; margin-left:auto; margin-right:auto;padding: 10px 8px !important;height: auto;}*/
button.mobile-login-button:hover {
	text-decoration:none!important;
	color:#000;
}
#user-login-block-container > div > div.submit > input#edit-submit--3, #user-login-block-container > div > div.submit > input#edit-submit--2 {
	    margin-left: 0;
    margin-right: 0;
    height: 38px !important;
    font-size: 16px !important;
    padding: 8px 10px !important;
    border-radius: 5px !important;
    cursor: pointer;
    background: #6d84a2 url() !important;
    color: white;
	width: 299px;
}
#user-login-block-container div.submit {
	margin:20px 0;
}
.fieldset-wrapper {
	padding:0;
}
/*
#footer-wrapper {
	 -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    padding: 15px;
    height: 65px;
    background: url(../images/toolbar.png) #6d84a2 repeat-x;
    margin-top: -20px;
	text-aligncenter;
}**/
@media all and (max-width: 680px) {
	#logo{
		width:40%;
		margin-top:35px;
		margin-bottom:35px;
	}
	#site-slogan {
		font-size:20px;
		margin: 0 auto;
	}
	#header {
		margin-bottom: 25px;
	}
	#block-user-login {
		padding:25px 0;
	}
	
}
#block-menu-menu-mobile-navigation-menu ul  li {
	margin:25px auto;
}
#block-menu-menu-mobile-navigation-menu ul {
	text-align:center;
	margin:0;
	padding:0;
}
.view-empty {
	clear:both;
	margin:10px auto;
}