input[type="radio"], input[type="checkbox"]{margin: 7px 0 3px 0;}
.page-user-edit #user-profile-form label {float: left;width: 180px;display: inline-block;font-size: 12px;font-family: Arial, Helvetica, sans-serif;text-align: right;margin-right: 5px;}
.page-user-edit #user-profile-form input[type=text],.page-user-edit #user-profile-form input[type=password]{width: 300px !important;height: 24px !important;}
.page-user-edit #edit-account > div.form-type-password-confirm{padding-left: 0;}
#edit-field-date-of-birth fieldset, #edit-field-date-of-birth .fieldset-wrapper,#edit-field-date-of-birth .container-inline-date > .form-item{padding: 0; margin: 0}
#edit-field-date-of-birth .date-no-float,.page-user-edit .confirm-parent,.page-user-edit .password-parent,.page-user-register .confirm-parent,.page-user-register .password-parent{width: 100%}
#edit-field-date-of-birth .container-inline-date .form-item{width: 100%}
#edit-field-date-of-birth-und-0-value{padding: 0;width:100%}
#edit-field-date-of-birth-und-0-value .description, .resizable-textarea .grippie,.password-strength{display: none;}
#edit-field-date-of-birth-und-0-value input,#edit-field-notification-und > .form-type-checkbox,.page-user-edit #edit-account > div.form-type-password-confirm input{display: inline-block}
.page-user-edit #edit-field-notification-und label{width: auto;float: none;}
.password-confirm {margin-right: -75px}
.password-suggestions.description{width: 298px;margin: 0 0 10px 185px;padding: 5px}
.page-user-edit .field-group-div{padding-left: 50px}
.page-user-edit #edit-picture{padding-left: 50px;margin-bottom: 10px}
.page-user-edit #edit-picture > .fieldset-wrapper{margin-top: 0}
.page-user-edit #edit-picture > div > div {display: inline-block;}
.page-user-edit #edit-picture .form-type-file{padding-left: 30px;}
.page-user-edit #edit-picture .form-type-file > label {width: auto;float: none;display: block;text-align: inherit;}
.page-user-edit #edit-picture img {margin: 0}
.page-user-edit #edit-picture .description {margin: 0}
.page-user-edit .form-item > .description,.page-user-register .form-item > .description{margin-left: 185px; margin-top: 5px;}
.page-user-edit #edit-field-likes textarea, .page-user-edit #edit-field-dislikes textarea{width: 40%;}
.page-user-edit .field-group-div,.page-user-register .field-group-div{margin-top:45px; border: 1px solid #999;}
.page-user-edit .field-group-div > h3{margin:-24px 0 20px -50px; color: #2dcd2d;font-weight: bold;font-size: 13px}
#edit-comment-body-und-0-format{display: none;}
.page-user-register #user-register-form label,  #user-register-form .captcha.form-wrapper .fieldset-description{float: left;width: 180px;display: inline-block;font-size: 12px;font-family: Arial, Helvetica, sans-serif;text-align: right;margin-right: 5px;}
.page-user-register #user-register-form input[type=text],.page-user-register #user-register-form input[type=password]{width: 300px !important;height: 24px !important;}
.page-user-register #edit-account > div.form-type-password-confirm{padding-left: 0;}
.page-user-register .field-group-div > h3 {margin-top:-20px; color: #2dcd2d;font-weight: bold;font-size: 13px; }
.page-user-register #user-register-form > div > fieldset.captcha{padding-left: 0}
.file-widget.form-managed-file input[type=submit], .file-widget.form-managed-file input[type=file] {display: inline-block;}
#user-register-form .captcha.form-wrapper .fieldset-description{font-weight: bold;	font-style:none;}
.form-item-field-copy-to-friend-und,.page-node-add-posts #edit-actions.form-actions.form-wrapper {margin-top: 0}
#user-register-form #edit-field-terms-of-use {float: left;margin-left: 193px;}
#user-register-form #edit-actions { clear: both;float: left; margin-left: 195px;}
#user-register-form  .captcha.form-wrapper {margin-left: 0;width: 90%;}
#custom_cancel_exit_button {
background: url("../images/global_blk_btn_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 5px;
    color: white;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 0;
    outline: medium none;
    text-align: center;
    width: 100px;
    margin-left: 5px;
}
#user-register-form #edit-submit{float: left;}
.form-item-field-terms-of-use-und {
}
#user-register-form #edit-field-terms-of-use-und{ float: left; height: 17px; margin: 6px 7px 0 0; }
#edit-persistent-login { float: left; height: 17px; margin: 3px 7px 0 0; }
#edit-persistent-login--2 { margin-right: 4px; }
#user-register-form .form-item-persistent-login label, #user-register-form .form-item-field-terms-of-use-und label{
    width: inherit;
}
#edit-field-smeared-on > div > div > div > label {
display: inline-block;
width: 140px;
}
/*#edit-field-anonymous {float: right;margin-right: 5px}*/
.page-node-add-posts #edit-title {width: 25em}
.node-posts .content.clearfix.post-content{padding-bottom: 60px; color: #FFF; }
.node-posts .content.clearfix.post-content ul.links li{padding: 0 8px 0 35px; }
#block-system-navigation > div.content > ul > li.last{margin-bottom: 5px}
/*.view-creopied-by .views-field-picture > div,.view-creopied-by .views-field-name{text-align: center}*/
#block-simpleads-trrr img, #block-simpleads-its-there img{width: 100%}
#user-login-form #edit-name, #user-login-form #edit-pass{width: 100%}
.view-creopied-by .views-field-name{margin-bottom: 5px}
.hybridauth-widget-wrapper ul.hybridauth-widget li {margin: 0}
.vud-widget-upanddown {
    margin: 0px;
}
.vud-widget-upanddown .up-score .up-current-score { position: absolute; top: -16px; left: 0px; font-size: 12px; text-align: center; width: 26px; padding-bottom: 26px; cursor: pointer; }
.vud-widget-upanddown .down-score .down-current-score { position: absolute; top: -16px; left: 0px; font-size: 12px; text-align: center; width: 26px; padding-bottom: 26px; cursor: pointer; }
.vud-widget-upanddown .down-score .vud-link-down,.vud-widget-upanddown .up-score .vud-link-up {display: none}
.user-name{color: black; font-size: 12px; font-family: arial, helvetica, sans-serif; font-weight:700; line-height: 30px; color: #FFF; }
#block-system-navigation > div.content > ul > li.navigation-username{margin-top: 0px;text-transform: none; color: #9c9c9c; background: none; background-color: inherit; border: none;}
#block-system-navigation > div.content > ul > li.navigation-username > a {color:#FFF; text-transform: none;}
#block-system-navigation > div.content > ul > li.navigation-username:hover {background-image: none; border: none; background-size: auto;}
div#block-system-navigation,#block-views-current-user-picture-block {}
#block-views-current-user-picture-block,#block-block-16  {margin-bottom: 0;padding-top: 25px}
#block-views-current-user-picture-block img, #block-block-16 img {display:block;margin:0 auto;border: 0; border-radius: 5px; width: 150px;}
#block-system-navigation > .content,#block-views-current-user-picture-block > .content {margin-top: 0}
#user-relationships-ui-pending-requested #edit-actions #edit-cancel,#user-relationships-ui-pending-requested #edit-actions #edit-submit,#user-relationships-ui-remove #edit-actions #edit-cancel,#user-relationships-ui-remove #edit-actions #edit-submit{width: 40px;padding: 0 8px !important;text-align: center}
#customjs_calendar_icon{margin:0 !important;}
.logged-in #menu-768-1 >ul{padding: 0 !important;}

#header .region-header{float: none}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(5){border-right: none}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(6) {display:block; border: 1px solid black; border-radius:5px; height:30px; margin-top:0; margin-bottom:0; background-color:white;}
#block-menu-menu-creople-top-menu > div.content > ul > li > a > img {border-radius:5px; border: 1px solid #fff;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(6) > a { text-decoration:none; font-size:20px;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li.last.leaf {display:block; background-color: #C6C7CB;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEECED), to(#C6C7CB), color-stop(.5,#C6C7CB));
background: -moz-linear-gradient(top, #EEECED 0%, #C6C7CB 50%, #C6C7CB 100%);background-position:center; line-height:28px; border-radius:5px; text-align:center;}
#block-menu-menu-mobile-navigation-menu > div.content > ul > li.last.leaf > a {font-size: 20px; text-align:center; width:100%; text-decoration:none; font-weight:bold; color: #000; text-shadow:none;}
.page-user .node-posts.node-teaser{margin-right: 0}

#search-form > div > #edit-basic > input#edit-submit {
    height: 35px;
    margin-left: 5px;
    width: 16%;
    background: #2dcd2d;
    font-weight: 700;
    line-height: 26px;
    font-size: 14px;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
}

#search-form input.form-text {
    height: 35px;
    width: 82%;
    font-size: 15px;
    padding: 5px 10px !important;
}

#search-form div.label {
    font-size: 13px;
}

/* Bug Tracker Updated*/
.node-type-basic-page div#node-220 {
    display:none;
}

/* Search button missing from certain pages*/
#edit-actions--2 {
    display: inline;
}

#edit-submit--2 {
    height: 35px;
    margin-left: 5px;
    width: 16%;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
}

/*Creople by Section*/
/*.view-creopied-by .views-field-picture > div,.view-creopied-by .views-field-name{text-align: center}*/
.view-creopied-by .views-field-field-profile-picture img {
	height: auto;
}

/* Back button on comments*/
#edit-back-to-forum {
    margin-left: 10px;
}

/* Align Checkbox under comments*/
#edit-field-creople-me .form-item-field-creople-me-und, #edit-field-creople-me .form-item-field-creople-me-und .description {
    margin-left: 0px;
}

#edit-field-creople-me .form-item-field-creople-me-und label{
	font-family: Arial, Helvetica, sans-serif;
}

.form-type-item .username {
	font-size: 12px;
    line-height: 26px;
    color: #FFF;
}
#edit-comment-body-und-0-value-counter {
    padding-top: 5px;
}

/* Back to home link as button on posts page */
div.back-to-home-node {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.back-to-home-node a {
    display: block;
    width: 115px;
    background: black;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin-top: 2px;
    text-decoration: none;
    margin-bottom: 15px;
}

/* Center align contents of Friends page view*/ 

.view-id-friends th, .view-id-friends td {
	text-align:center;
	text-align:left;
}
.view-display-id-page_1 table {
 width:40%;
}

.view-id-friends .views-field-name a {
  color:#fff;
}
.view-id-friends .views-field-name a:hover {
  color:#fff;
}
.contact-form #edit-mail {
 height:24px!important;
}
.contact-form #edit-message {
 width:300px;
}
/**/
#all_current_nids {
	display:none;
}
.links .map a {
  background: url(../images/icon_map_it.png) 5px 50% no-repeat;
  height: 24px;
  margin:0;
}
.node-posts .content.clearfix.post-content ul.links li.map {padding:0;}
.links .map a {display:block;padding: 0 8px 0 35px; }

	.faceb-share-link{
		/*background: url('../images/icon_facebook_small.png') no-repeat scroll left top transparent;		*/
		width: 26px;
		height: 26px;
		display: block;
		float:left;
		margin-left:8px;
		cursor: pointer;
	}
.faceb-share-link .b-share-icon{
		background: url('../images/icon_facebook_small.png') no-repeat scroll left top transparent;		
		width: 26px;
		height: 26px;
                position:relative;
                left:-12px;
                top:-7px;
}
/*
#message-popup-permition{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
	z-index:9999;
}
#message-popup-permition .b-popup-content{
    margin:200px auto 0px auto;
    width:50%;
    height: 50%;
    padding:10px;
    background:rgba(255,255,255,0.8);
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
	color:#000;
}*/
