
@media (min-width: 768px) {
	#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
		width: 750px;
  	}
	#block-menu-menu-creople-top-menu {
	    
	}



  #user-login-block-container > div > div > input#edit-submit--2 {width: 70px}

}

@media (min-width: 992px) {
.bottom-box .date {padding:0;}
#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
    width: 970px;
  }
  #block-menu-menu-creople-top-menu {
    
	}
	.logged-in .bottom-box .sharethis-wrapper {
		/*clear: left;*/
		/*margin-top: 5px;*/
	}
	.logged-in .bottom-box .field-name-field-voting-field{
		margin-top: 5px;
	}
	.logged-in .node-posts .content.clearfix.post-content {
		padding-bottom: 85px;
	}
	#block-menu-menu-registration-side-bar,#block-block-10,#block-block-7,#block-superfish-1 {padding: 0}
	#user-login-block-container > div > div > input#edit-submit--2 {width: 50px}
}

@media (min-width: 1200px) {
	#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
    width: 1170px;
  }
  #block-menu-menu-registration-side-bar,#block-block-10,#block-block-7,#block-superfish-1 {padding: 0 20px}
  #user-login-block-container > div > div > input#edit-submit--2 {width: 70px}
  #block-menu-menu-creople-top-menu {
    display: block;
	}
	.bottom-box .sharethis-wrapper {
		clear: none;
		margin-top: 0;
	}
	.bottom-box .field-name-field-voting-field{
		margin-top: 0;
	}
	.node-posts .content.clearfix.post-content {
		padding-bottom: 60px;
	}
	.logged-in .bottom-box .sharethis-wrapper {
		clear: none;
		margin-top: 0;
	}
	.logged-in .bottom-box .field-name-field-voting-field{
		margin-top: 0;
	}
	.logged-in .node-posts .content.clearfix.post-content {
		padding-bottom: 75px;
	}
}

@media screen and (max-width: 991px) {
       
	#block-menu-menu-mobile-navigation-menu > div.content > ul > li:nth-child(6) {
		background:none;
	}
	#block-menu-menu-creople-top-menu ul li {
	  font-size:11px;
	  line-height:24px;
	}
	#block-block-13 {
	 padding: 12px;
	}
	.not-front #block-block-8 {
	display: none !important;
	}
	#footer a {
	color: #428bca;
	}
	.bottom-box {
	position: relative;
	}
	.bottom-box .field-name-field-upload-video {
	 float: right;
	 margin-top: 5px;
	}
	.bottom-box .field-name-field-upload-media {
	 float: right;
	 margin-top: 5px;
	}
	.bottom-box .field-name-field-upload-audio{
	 float: right;
	 margin-top: 5px;
	}
	body .region-navigation {
	    border-right: 1px solid #eee;
	    display: none;
	    height: 100%;
	    left: 0;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    padding: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 9999;
	}
	#block-block-8 .user-picture{//float: right;}
	body.menu-open .region-navigation{
	 display: block;
	}
	#block-block-9 {
		margin-left:0;
		margin-right:0;
	}
	body.menu-open #main-menu-links  li{
	 background: none;
	 display: inherit;
	 border-bottom:1px solid #ccc;
	 width:100%;
	}
	body.menu-open #main-menu-links  li.last {
	border-bottom: 0;
	}
	body.menu-open #main-menu-links  li a {
	color: #000;
	}
	body.menu-open #main-menu-links {
	  background: none repeat scroll 0 0 #fff;
	    border: 1px solid #ccc;
	    margin-left: 10%;
	    margin-top: 150px;
	    width: 250px;
	}
	div.content.clearfix:before {
	 background: none;
	}
	div.content.clearfix {
	border: 0;
	padding: 0;
	}
	#block-system-main  > div {
	padding: 10px;
        padding-bottom:0;
	}
        #block-system-main {padding-bottom:0;}
	.submitted {
	 text-align: left;
	}
	.node-teaser {
	 border-bottom: 2px solid #dedddd;
	 padding: 0 30px 15px;
	}
	.page-user-edit .field-group-div{
		padding-left: 0
	}
	.page-user-edit .field-group-div > h3{margin-left: 0}
		#site-slogan {
		text-align: center;
		margin: 15px 0 0 0;
		font-size:25px;
	}
}



@media screen and (max-width:767px){
    #block-views-invitations-sent-email-block {margin:10px;}
      .page-user-edit #user-profile-form input[type=text], .page-user-edit #user-profile-form input[type=password] {width:100%!important;}
      #edit-account > div.form-item.form-type-textfield.form-item-Phone-Number > label, #edit-account > div.form-item.form-type-textfield.form-item-confirmmail > label, #edit-account > div.form-item.form-type-textfield.form-item-mail > label, #edit-account > div.form-item.form-type-textfield.form-item-dislikes > label, #edit-account > div.form-item.form-type-textfield.form-item-likes > label, #edit-account > div.form-item.form-type-textfield.form-item-ConfirmPassword > label, #edit-account > div.form-item.form-type-textfield.form-item-Password > label, #edit-account > div.form-item.form-type-textfield.form-item-Name > label, #edit-account > div.form-item.form-type-textfield.form-item-DOB > label, #edit-account > div.form-item.form-type-textfield.form-item-name > label, .page-user-edit #user-profile-form label{ 
   width:auto;
   display:block;
   float:none;
   text-align:left;
  }
div.password-confirm {float:none;}
#edit-field-date-of-birth .container-inline-date .form-item {height:70px;}
.password-suggestions.description, .page-user-edit .form-item > .description, .page-user-register .form-item > .description {margin:0 auto;width:100%;}
        .region-content {margin:12px 0;}
        #block-user-login #user-remind-password:hover {
            text-decoration:none;
        }
        #block-block-10 {
          padding: 15px 20px;
        }
	#block-user-login #user-remind-password {
		/*display:block;;
		text-align: center;
		font-size:15px;*/
		text-decoration:underline;
	}
	.node-teaser {
		margin-left:-10px;
		margin-right:-10px;
	}
	#edit-submit--2 {
		width:auto;
	}
	#block-block-2 {
		text-align:center;
	}
	#block-menu-menu-creople-top-menu ul li {
		width:100%;
		border-bottom:2px solid #000;
        		
	}
	#block-menu-menu-what-is-creople- > div.content > ul {
		text-align:center;
	}
	#block-menu-menu-creople-top-menu ul li.last {
		width:100%;
	}
	#block-menu-menu-creople-top-menu ul li a {
		display:block;
		width:100%;
	}
	
	#block-block-2 {
	padding: 0 !important;
	}
	#main {
	 width:95%;
	 width:100%;
	}
	.sidebar h2{ 
		display:none;
	}
	.region-content {
	border: 2px solid #dedddd;
	border-radius: 5px;
	}
	#footer-wrapper {
	background: none;
	}
	#footer-wrapper > div {
	background: none;
	}
	#main {
	box-shadow: none;
	}
	#footer {
	box-shadow: none;
	background: none;
	color: #000;
	}
	#header > div {
	box-shadow: none;
	}
	#header {
	background: none;
	}
	#main-wrapper {
		background: #000;
	}
	#main {
		margin:0;
	}
	#footer .region {
	margin-top: 5px;
	}
	.sidebar {
		padding: 0;
		border:none;
	}
	.node-posts .content.clearfix.post-content {
	padding-bottom:10px;
	}
	.not-front #block-block-8{
	display: none !important;
	}
	.author-picture {
	display: inline-block;
	margin-right: 5px;

	}
	.author-name {
	display: inline-block;
	}
	#block-block-9 {
	    margin-left: 0;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom:15px;
		margin-top:15px;
	}
	#posts-node-form > div > div.form-item.form-type-textfield.form-item-title > label ,.location .form-item label,#edit-field-categories > div > label{
	width: 33%;
	}
	.page-node-add-posts #edit-title,.location .form-item input {
	width: 65%;
	}
	.description {
	display: none;
	}
	textarea {
	width: 85% !important;
	}
	#block-menu-menu-mobile-navigation-menu li {
	font-size: 13px;
	}
	body span.menu-toggle {
	font-size: 30px;
	line-height: 35px;
        top:0px;
	}
        .burger-menu {height:0px;}
	#block-menu-menu-creople-top-menu ul li {
		/*width: 20%;*/
	}
	#block-menu-menu-creople-top-menu img {
	  /*width: 100%;*/
	}
	#site-slogan {
	font-size: 30px;
	}
	.page-user-edit .field-group-div, .page-user-register .field-group-div {
	border: 0;
	}
	#edit-field-date-of-birth-und-0-value-datepicker-popup-0 {
	width: 75%;
	}
	#edit-field-invitation-email-address-und-0-value {
	width: 100%;
	}
	#block-block-9 .form-text {
	width: 60%;
	}
	#middle-content {
		border:none;
	}
	#site-slogan {
		text-align: center;
		margin: 15px 0 0 0;
		font-size:20px;
	}
.author-picture {display:block;text-align:center;width:100%;margin-bottom:5px;}
        .user-name.author-name {displa:block; width:100%;text-align:center;margin-bottom:15px;}
}
#cboxLoadedContent .field-content img {width:100%;}
@media screen and (max-width: 520px) {
 /* .flag-favourite a{float:right;width: 50%;position: relative;top: -30px;}*/
}

@media screen and (max-width: 480px) {
#posts-node-form {word-break: break-all;}
#posts-node-form input[type="file"] {width:100%;}
#posts-node-form > div > div.form-item.form-type-textfield.form-item-title > label, .location .form-item label, #edit-field-categories > div > label,
#posts-node-form > div > div.form-item.form-type-textfield.form-item-title > label, .location .form-item label, #edit-field-categories > div > label,
.location_auto_country, #edit-field-categories
 { 
 width:100%;
 display:block;
}
.share_button5 {margin-top:5px;}
.node-teaser {margin-bottom:0px;padding:12px;}
#edit-field-send-email input {margin-left:0;}
#edit-field-copy-to-friend, div#edit-actions.form-actions.form-wrapper {float:none;width:100%;text-align:center;overflow:auto;}
#body-add-more-wrapper > div.form-item.form-type-textarea.form-item-body-und-0-value > div {width:100%;}
.form-textarea-wrapper textarea {width:100%!important;}
.page-user-register #user-register-form input[type=text], .page-user-register #user-register-form input[type=password] {width:100%!important;}
.page-user-register #user-register-form label, #user-register-form .captcha.form-wrapper .fieldset-description {
width:100%;
display:block;
text-align:left;
float:none;
clear:both;
}
#user-register-form #edit-field-terms-of-use{
 margin:0;
 width:100%;
 float:none;
} 
#user-register-form #edit-actions {
 margin:0;
 width:100%;
 float:none;
 margin-bottom:10px;
}
#edit-title-counter {
 margin: 3px 0 0 0px;
}
.page-node-add-posts input[type="text"], .page-node-add-posts select {width:70%;}
        .view-invitations-sent-email td {padding:6px 0; text-align:center;}
	#block-menu-menu-creople-top-menu ul li {
		width:100%;
	}
        #block-views-current-user-picture-block img {width:100px;}
        #edit-field-categories > div > label {display:block; width:100%;}
        .tabs ul.secondary li a {padding:5px 0;}
	#block-user-login #user-remind-password {
		/*display:block;;
		text-align: center;
		font-size:15px;*/
		text-decoration:underline;
	}
        .view-friends .views-field-field-profile-picture img {width:47px;height:47px;}
	#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer{width: 100%}
	.bottom-box .flag-report{clear: left;margin-top: 5px}
	.bottom-box .sharethis-wrapper {margin-top: 5px;}
	.bottom-box .field-name-field-voting-field{margin-top: 5px;	}
	.node-posts .content.clearfix.post-content {padding-bottom: 20px;}
	#site-slogan {
		text-align: center;
		margin: 15px 0 0 0;
		font-size:17px;
	}
	.author-picture img {
          width:80px;
          height:auto;
		/*display:none;*/
	}
        .author-picture {display:block;text-align:center;width:100%;margin-bottom:5px;}
        .user-name.author-name {displa:block; width:100%;text-align:center;margin-bottom:15px;}
        #user-pass > div > div > #edit-name  {
          width:100%;
        }
       .node-posts .content.clearfix.post-content ul.links li {
         display:block;
         float:none;
        }
	.node-posts .content.clearfix.post-content ul.links li.comment-comments, .node-posts .content.clearfix.post-content ul.links li.comment_forbidden, 
          .node-posts .content.clearfix.post-content ul.links li.comment-new-comments  {
		display: none;
	}
       .flag-favourite {display:block;text-align:center;width:100%;clear:both;}
       .node-posts .content.clearfix.post-content ul.links li.forward_link {margin-bottom:15px;}
      .node-posts .content.clearfix.post-content ul.links li.flag-report {display:inline-block;position: relative;top: 6px;}
        .node-posts .content.clearfix.post-content ul.links li.flag-favourite.last {display:none;}
.flag-favourite a{float:right;width: 55%;position: relative;top: -30px;}
}
@media screen and (max-width: 390px) {
  .flag-favourite a{float:right;width: 33%;position: relative;top: -30px;}
}

@media screen and (max-width: 300px) {
  .flag-favourite a{display:block;}
  .flag-favourite {clear:both;display:block;}
}

#header .navbar-toggle{
	border-color: rgb(255,255,255);
}
#header .navbar-toggle .icon-bar{
	background-color: rgb(255,255,255);
}
.burger-social {text-align:center;}
.burger-social a{
  display:inline-block;
  text-align:center;
  background-repeat:no-repeat;
  background-position:center center;
  width:30px;
  height:30px;
  background-size:30px 30px;
}
#burger-menu-list, #burger-menu-list-1 {padding-left:15px;padding-right:15px;}
#burger-menu-list .burger-social a.facebook-burger, #burger-menu-list-1 .burger-social a.facebook-burger {
  background-image: url(../images/FBicon.png);
}

#burger-menu-list .burger-social a.twitter-burger, #burger-menu-list-1 .burger-social a.twitter-burger {
  background-image: url(../images/Twittericon.png);
}
#burger-menu-list .burger-social a.youtube-burger, #burger-menu-list-1 .burger-social a.youtube-burger {
  background-image: url(../images/Youtubeicon.png);
}

.footer-burger-social {padding:10px 0;}
.footer-burger-social a{
  display:inline-block;
  text-align:center;
  background-repeat:no-repeat;
  background-position:center center;
  width:30px;
  height:30px;
  background-size:30px 30px;
  margin:0 7px;
}

#block-block-2 .footer-burger-social a.facebook-burger {
  background-image: url(../images/FBicon.png);
}

#block-block-2 .footer-burger-social a.twitter-burger {
  background-image: url(../images/Twittericon.png);
}
#block-block-2 .footer-burger-social a.youtube-burger {
  background-image: url(../images/Youtubeicon.png);
}


