.two-sidebars #content {width:724px;}
#header {background-image: none; background-color: #EAEAEA;}
#header > div {background-color:#FFF; webkit-box-shadow: 0 -7px 12px rgba(0,0,0,.5);
-moz-box-shadow: 0 -7px 12px rgba(0,0,0,.5);
-khtml-box-shadow: 0 -7px 12px rgba(0,0,0,.5);
box-shadow: 0px -7px 10px rgba(0,0,0,0.5);}
#footer {background-color:#FFF; webkit-box-shadow: 0 0 12px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 12px rgba(0,0,0,.5);
-khtml-box-shadow: 0 0 12px rgba(0,0,0,.5);
box-shadow: 0px 0 10px rgba(0,0,0,0.5);}
#block-block-2 > div.content > p:nth-child(3) {line-height:35px;}
#block-block-2 > div.content > ul {font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height:10px;}
#footer li a {padding: 0;}
#block-menu-menu-side-bar-menu > div.content {margin-top:-5px;}
#main-wrapper {background-color: #EAEAEA;}
#main {background-color:#FFF; margin-top: 0px; background-color:#FFF; webkit-box-shadow: 0 6px 12px rgba(0,0,0,.5);
-moz-box-shadow: 0 6px 12px rgba(0,0,0,.5);
-khtml-box-shadow: 0 6px 12px rgba(0,0,0,.5);
box-shadow: 0px 6px 10px rgba(0,0,0,0.5);}
div#comments.comment-wrapper > h2.title.comment-form { position:relative; display:block; margin-left:0; font-size:1.5em !important; margin-bottom:-10px;}
div.content.clearfix  .bottom-box > ul > li.comment-new-comments {display:none;}
body {padding-top:0 !important;}
body.admin-menu {}
#footer-wrapper {background-color: #EAEAEA; padding:0;}
#footer-wrapper > div {background-color: #FFF;}
#user-login-block-form-fields > div.form-item.form-type-textfield.form-item-name >  {display: none;}
#user-login-block-form-fields > div.form-item.form-type-password.form-item-pass > label {display:none;}
#user-login-block-container > div:nth-child(2) > div.links > div.item-list {display:none;}
#user-login-block-container > div:nth-child(2) > div.links {display:inline-block; width:48%;margin-right: 2%}
#block-user-login {border: 1px solid black; border-radius: 5px; background: url(../images/left_topbox.png); background-size: cover;}	
#user-login-block-container > div:nth-child(2) > div.submit {display:inline-block; width:48%; text-align: center}
.form-item {margin-bottom:5px; margin-top:5px;}
#user-login-block-form-fields {margin-bottom:25px;}
form#posts-node-form > div > input#edit-submit--2.form-submit {position:absolute; float:left; bottom:0; margin-left:75px; margin-bottom:24px;}
#search-block-form > div > div > #edit-actions > input#edit-submit--2 {display:none;}
#edit-account > div.form-type-password-confirm {padding-left:185px;}
#edit-account > div.form-type-checkbox {padding-left:185px;}
#user-register-form > div > fieldset{padding-left:175px;}
#edit-submit--3, #user-login-block-container > div > div > input#edit-submit--2 {background-image: url('../images/login_button.png');border-radius:0;border:0; color: #fff; height:24px; background-repeat: no-repeat; line-height:13px; margin-top:8px;}
div.content.clearfix > div.field.field-name-body.field-type-text-with-summary.field-label-hidden > div > div {margin-top:20px;}
div.content.clearfix > div.field.field-name-field-address.field-type-location.field-label-inline.clearfix > div.field-items {margin-top:20px;}
#search-block-form > div > div > #edit-actions > input#edit-submit {display:none;}
#comments > div.comment.comment-new.comment-by-node-author.clearfix > div.comment-text > h3 > a {display:none;}
#comments > div.comment.comment-new.comment-by-node-author.clearfix > div.comment-text > span {display:none;}
#user-login-block-container > div:nth-child(2) > div.links > a {color: black; font-size: 11px; font-family: arial, helvetica, sans-serif; font-weight:700; margin-left:17px;}
#block-system-main {font-family: Arial, Helvetica, sans-serif; font-size:12px;}
#content h2 {font-size:12px !important; font-weight:700; text-align:left;}
#block-system-main > div > div.view-commerce-cart-form {width:525px; float:left; margin-left:10px; margin-top:-20px;}
h2 > a > div {text-align:left; width:100%;}
#body-add-more-wrapper > div.form-item.form-type-textarea.form-item-body-und-0-value > label {display:inline-block; width:140px; float:left;}
#edit-field-categories {width:340px; display:inline-block;}
#body-add-more-wrapper > div.form-item.form-type-textarea.form-item-body-und-0-value > div {display:inline-block; width:350px;}
#edit-field-categories > div > label {display:inline-block; width:140px;}
#posts-node-form > div > div.form-item.form-type-textfield.form-item-title > label {width:140px; display:inline-block;}
#edit-name--3, #edit-name {width:185px;}
#edit-actions--3 {display:none;}
input.form-text, textarea.form-textarea, select.form-select {border:1px solid #888888;}
#user-login-block-container > div > div > input#edit-submit--3 {background-image: url('../images/login_button.png'); background-size: 70px 24px;
 color: #fff; height: 24px; background-repeat: no-repeat; line-height: 13px;}
 #edit-pass {width:185px; }
#footer-wrapper > div {background: #EAEAEA;}
#user-login-form > div > div.item-list {display:none;}
#site-slogan {font-size: 2.5em;word-spacing: 0.1em;font-style: italic;color: #CE0A0A; font-weight:600;}
/* #block-system-navigation > div.content > ul > li.first.leaf > a {display:none;} */
#block-menu-menu-creople-top-menu ul li{list-style-image:none; list-style-type:none; display:inline-block;padding-right: 0;float: left; //width: 18%;
}
#header > div > div.region.region-header {margin-top: 0;}
#block-menu-menu-creople-top-menu > div.content {position:relative; margin-top: 40px; margin-left: -770px;}
#block-menu-menu-what-is-creople- {background-image: url(../images/topBG.png); background-repeat: repeat-x; background-color: #000;width: inherit;}
#main {margin-bottom:0;}
#footer {margin-top: 0; background-color: #505050;}
#block-block-2 {padding: 0 30px !important;}

#block-block-2 > div.content {padding: 0 30px;}
#block-block-2 > div.content > ul > li:nth-child(1) > a {padding: 0; margin-left:0; margin-top: -10px;}
#block-block-2 > div.content > ul > li {display:inline-block;}
#block-block-2 > div.content > ul > li > a {border-right:none;}
#block-menu-menu-creople-top-menu > div.content > ul {float:right; margin:0; margin-top:20px; position:relative;}
#block-menu-menu-what-is-creople- > div.content > ul {text-align:right;}
#block-menu-menu-what-is-creople- > div.content > ul > li {display:inline-block;}
#block-menu-menu-creople-top-menu > div.content > ul > li.leaf > a {opacity: 0.8;}
#block-menu-menu-creople-top-menu > div.content > ul > li.leaf > a:hover {opacity: 1; transition:.25s;}
#block-system-navigation > div.content > ul > li.leaf {list-style-image: none; list-style-type: none;}
#block-system-navigation > div.content > ul {text-align:center;}
#breadcrumb > div {margin-left: 2em; padding-top: .5em;}
#user-login-block-container > div:nth-child(2) > div.links > div.form-item.form-type-checkbox.form-item-persistent-login > label {font-size:11px;
margin-bottom: 0; font-family: arial, helvetica, sans-serif; color: black; font-weight:700;}
#user-login-block-container > div:nth-child(2) > div.links > div.form-item.form-type-checkbox.form-item-persistent-login {font-size: 9px;margin-bottom:0;}
#edit-actions--2 {display:none;}
/* input.form-submit:hover {background: #fff url(/sites/all/themes/creople/images/login_button.png) 0 0 no-repeat;}	
input.form-submit {height: 45px; margin-left: 5px; line-height: 35px;width: 93px;background-image: url('../images/search_button.png');
font-weight: 700;border: 1px solid;color: #FFF;}
*/
#user-login-block-container > div:nth-child(2) > div.links {font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:9px; }


#edit-account > div.form-item.form-type-textfield.form-item-Phone-Number > label,#edit-account > div.form-item.form-type-textfield.form-item-confirmmail > label,#edit-account > div.form-item.form-type-textfield.form-item-mail > label,  #edit-account > div.form-item.form-type-textfield.form-item-dislikes > label, #edit-account > div.form-item.form-type-textfield.form-item-likes > label, #edit-account > div.form-item.form-type-textfield.form-item-ConfirmPassword > label, #edit-account > div.form-item.form-type-textfield.form-item-Password > label, #edit-account > div.form-item.form-type-textfield.form-item-Name > label, #edit-account > div.form-item.form-type-textfield.form-item-DOB > label, #edit-account > div.form-item.form-type-textfield.form-item-name > label  {float:left; width:180px; display: inline-block; font-size:12px; font-face: Arial, Helvetica, sans-serif; text-align: right; margin-right:5px;}
#edit-account > div > input#edit-name--2.form-text.required {width: 300px; height: 20px !important;}
#edit-account > div.form-item.form-type-textfield.form-item-Phone-Number > div {width:310px; margin-left:190px;}
div#edit-actions.form-actions.form-wrapper {text-align:center;}
#views-form-commerce-cart-form-default > div > #edit-actions > #edit-checkout {margin-left:10px;}
#block-system-main > div > div > div > table > tbody > tr > td > div.views-field.views-field-commerce-price > div {color: #F00; font-weight:bold; font-family: Tahoma, Geneva, sans-serif; font-size:12px;}
#block-system-main > div > div > div > table > tbody > tr > td > div > div.field-content > a > img {height:80px;}

#edit-phone-number,#edit-confirmmail,#edit-mail, #edit-likes,#edit-confirmpassword,#edit-dislikes, #edit-password, #edit-dob, input.username {width:300px !important; height:20px !important;}
#content .section, .sidebar .section {padding: 0;}
input#edit-pass--2.form-text.required, input#edit-name--2.form-text.required {width:95%;}



#node-51 > div.meta.submitted > div > a > img , #node-50 > div.meta.submitted > div > a > img , #node-49 > div.meta.submitted > div > a > img , #node-48 > div.meta.submitted > div > a > img {display:none;}
#node-51 > div.meta.submitted > span, #node-50 > div.meta.submitted > span, #node-49 > div.meta.submitted > span , #node-48 > div.meta.submitted > span {display:none;}
#node-51 > div.content.clearfix , #node-50 > div.content.clearfix, #node-49 > div.content.clearfix, #node-48 > div.content.clearfix {width: auto; float:none;}
#node-51 > div.content.clearfix:before, #node-50 > div.content.clearfix:before , #node-49 > div.content.clearfix:before , #node-48 > div.content.clearfix:before {display:none;}
#node-51 > div.content.clearfix > ul, #node-50 > div.content.clearfix > ul, #node-49 > div.content.clearfix > ul , #node-48 > div.content.clearfix > ul {display:none;}



#user-pass > div > div > label {width:200px; float:left;}
#user-pass > div > div > #edit-name {width:350px;}
#block-menu-menu-side-bar-menu {margin-top:0;padding: 0 0 0 10px;}
#block-menu-menu-side-bar-menu > div.content > ul > li{list-style-type:none; list-style-image: none;}
#block-menu-menu-side-bar-menu > div.content > ul > li > a {color: #0B7DA2; font-style: italic;text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-weight:700;}
#block-menu-menu-side-bar-menu > div.content > ul > li > a:hover {color: #0B7DA2; }
#block-menu-menu-side-bar-menu > div.content > ul {padding-bottom:0;}
#block-simpleads-trrr {padding-top:0; margin-top:-5px;}
.node-teaser {border-bottom: none; margin-bottom: none; padding-bottom: none;}
div.meta.submitted > div > a > img {border: 0; border-radius: 5px; height: auto; width:100px; }
.submitted .user-picture img {height:auto; width:100px; border: 1px solid black; border-radius: 10px;}
#main-menu-links {text-align:center; background-image: url('../images/navi_mid.png'); background-repeat: repeat; background-repeat-y: no-repeat; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-left: 10px; margin-right:10px; font-size:12px; font-weight:600;display:table; height:32px; line-height:34px; width: 98%;}
#edit-search-block-form--2 {height:35px; width:585px; font-size: 15px; padding-left:10px;}

.node-posts .field-name-field-categories a{font-family: Helvetica; font-size:15px; font-weight:700; color: #c10606; text-decoration: none; }
.node-posts .field-name-field-categories {margin-bottom: 2px;}
.node-posts .post-content {margin-top: 0;}
div.content.clearfix > div.field.field-name-field-upload-media.field-type-file.field-label-above {width:130px; position:absolute; right:0; bottom:0;margin-bottom: 8px; margin-right:8px; text-align: left;}
.node-posts .field-type-file .field-item {float: right;margin-right: 5px}
#contact-site-form > div > div.form-item.form-type-textfield.form-item-required > label {color: #FF0000;}
#contact-site-form > div > div > #edit-required {display:none;}
h1#page-title.title {display: block;
top: 0;
left: 0;
margin-left: 20px;
font-family: Arial, Helvetica, sans-serif;
color: #1f4299;
font-weight: bold;
font-size: 20px;}

#search-block-form > div > div > input[type="submit"]{height:35px; margin-left:5px; width:16%; background-image:url('../images/search_button.png'); font-weight:700; border: 1px solid; color:#FFF; cursor: pointer; float:right;}
#block-search-form {background-image: url('../images/mid_topbox.png'); background-repeat: no-repeat; padding:12px; height:100px;}
#block-search-form .content {margin-top: 20px;}
#block-system-main {padding: 12px;}
#breadcrumb {display:none;}
#posts-node-form > div > div.vertical-tabs.clearfix {display:none;}
#edit-site-wide > legend {display:none;}
#edit-field-anonymous > div > label {font-weight:bold;}
fieldset legend {display:none;}
fieldset {border: 0; margin: 0; margin-bottom:15px; top:0; margin-left: -10px; }
#main-menu-links > li.menu-218 {}
#block-simpleads-trrr {background: #FFF; margin-bottom:0; padding-bottom: 0;}
.location .form-item label {width:140px;}
.sidebar .block {background: none; border: none;}
#edit-field-upload-media-und-0-upload-button,#edit-field-upload-video-und-0-upload-button, input.form-submit, a.button{margin: 0;padding: 0 8px 3px !important;outline: none;height: 24px;background: url(../images/global_blk_btn_bg.jpg) repeat-x;font-family: Helvetica, sans-serif;font-size: 12px;font-weight: bold; color:white; border:0;border-radius: 5px }
div > div#edit-actions.form-actions.form-wrapper > input#edit-delete.form-submit ,
div > div#edit-actions.form-actions.form-wrapper > input#edit-submit.form-submit ,
div > div#edit-actions.form-actions.form-wrapper > input#edit-preview.form-submit {margin: 0;padding: 0 8px 3px !important;outline: none;height: 24px;background: url(../images/global_blk_btn_bg.jpg) repeat-x;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold; color:white; border-radius:5px; border:0; }
div > div#edit-actions.form-actions.form-wrapper > input#edit-delete.form-submit ,
div > div#edit-actions.form-actions.form-wrapper > input#edit-preview.form-submit {margin-left:5px;}
color: #FFF;border: solid 1px #101010;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
-khtml-border-radius: 4px;cursor: pointer; font-size: 12px;}
#user-register-form > div > div.form-actions {text-align:center;}
div.content.clearfix > ul > li.comment-add.active {margin: 0;padding: 0 8px 3px !important;outline: none;height: 24px;background: url(../images/global_blk_btn_bg.jpg) repeat-x;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;
color: #FFF;border: solid 1px #101010;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
-khtml-border-radius: 4px;cursor: pointer; color:#fff; border:0; }
div.content.clearfix > ul > li.comment-add.active > a {color:#fff; font-size:10px;}
#block-system-main > div > div > div.attachment.attachment-before > div > div > table > tbody > tr {background:none;}
#block-system-main > div > div > div.attachment.attachment-before > div > div > table > tbody > tr > td {padding:0;}
div.content.clearfix > .bottom-box ul > li.forward_link > a {color:white; font-size:11px; text-decoration:none;}
div.content.clearfix > ul > li.comment-add {display:none;}
div.content.clearfix > div.field.field-name-field-upload-media.field-type-file.field-label-above > div.field-label {display:none;}
div.content.clearfix > div.sharethis-buttons {display:block; float:left; margin-bottom:3px; margin-left: 290px; position:absolute; bottom:0; z-index:1;}
div.field.field-name-field-voting-field.field-type-vud-field.field-label-above {position:absolute;}
div.up-score.clear-block {}
div.down-score.clear-block {}
div.content.clearfix > .bottom-box div.field.field-name-field-voting-field.field-type-vud-field.field-label-above > div.field-label {display:none;}
div.content.clearfix > .bottom-box div.field.field-name-field-voting-field.field-type-vud-field.field-label-above {width:0;}
.reset-active {display:none;}
div.up-inactive {background: url('../images/thumbsup.png')}
div.down-inactive{background: url('../images/thumbsdn.png')}
div.content.clearfix > .bottom-box ul > li.copy.to.friend > a {color: white; font-size:8px; text-decoration:none;}
div.content.clearfix >.bottom-box ul > li.copy.to.friend {margin: 0;padding: 0 8px 3px !important;outline: none;height: 24px;background: url(../images/global_blk_btn_bg.jpg) repeat-x;font-family: Arial, Helvetica, sans-serif;font-size: 18px;font-weight: bold;
color: #FFF;border: solid 1px #101010;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;
-khtml-border-radius: 4px;cursor: pointer;}
div.content.clearfix > .bottom-box ul > li.node-readmore, li.node-readmore{margin-top:1px;background-image: url('../images/gray_button.png'); background-repeat: no-repeat; line-height:30px; display:inline-block; text-align:center; padding:0; width: 69px; height:25px;float: left;}
div.content.clearfix >.bottom-box ul > li.node-readmore > a {font-size:12px;}
div.content.clearfix > .bottom-box ul > li.node-readmore:hover {background-image: url('../images/red_button.png'); text-decoration:none;}
div.content.clearfix > .bottom-box ul > li.node-readmore.first {line-height:28px;}
div.content.clearfix > div.form-item.form-type-item > label {display:none;}
#comments > div.comment-text > div.content > div.sharethis-comment > div {float:left;}
div.comment-text > div.content > div.sharethis-comment > div > span.st_facebook_custom, div.content.clearfix > div.sharethis-buttons > div > span.st_facebook_custom,.st_facebook_custom {background: url('../images/f_logo.png') no-repeat scroll left top transparent; width:26px; height:26px; display:inline-block; cursor:pointer;}
div.comment-text > div.content > div.sharethis-comment > div > span.st_twitter_custom, div.content.clearfix > div.sharethis-buttons > div > span.st_twitter_custom ,.st_twitter_custom  {background: url('../images/t_logo.png') no-repeat scroll left top transparent; width:26px; height:26px; display:inline-block; cursor:pointer;}
#comments > div.comment.comment-by-viewer.clearfix > div.comment-text > div.content > div.sharethis-comment > div {display:inline-block; float:left; margin-top:13px;}
.rate-user .rate-thumbs-up-down-btn-up{background: url(../images/thumbsup.png) no-repeat ;}
.rate-user .rate-thumbs-up-down-btn-up.rate-voted {background: url(../images/thumbsup.png) no-repeat ;}
.rate-user .rate-thumbs-up-down-btn-down{background: url(../images/thumbsdn.png) no-repeat ; margin-left:10px; margin-top:8px; margin-right:10px;}
.rate-user .rate-thumbs-up-down-btn-down.rate-voted {background: url(../images/thumbsdn.png) no-repeat ; margin-left:10px; margin-top:8px; margin-right: 10px;}
ul > li.thumb-up > div {margin-right:10px;}
ul > li.thumb-up {display:inline-block;}
ul > li.thumb-down {display:inline-block;}
#block-menu-menu-categories > h2 {margin-top:0; position:relative; margin-left: 0; width: auto !important; background:#323232; height:25px; padding-left:12px; color: #fefefe; font-size:14px; font-weight:bold; line-height:23px; margin-bottom:5px;}
ul li.expanded {list-style: none;}
#block-system-main > div > div.view.view-store {width:525px; float:left; border: 2px solid #d2d2d2; padding: 8px 0 0 5px; margin-left:10px; margin-top: -10px;}
#block-menu-menu-categories {width:145px; float:left; background: #000; margin-left:20px; margin-top: 50px;}
#block-menu-menu-categories > div.content > ul > li.expanded > span {color:#b67d4a; font-weight: bold;} 
#block-menu-menu-categories > div.content > ul > li.expanded > ul     {margin:0;}
#block-menu-menu-categories > div.content > ul > li.expanded > ul > li {list-style: none; color: #cfcfcf; background-image: url('/sites/all/themes/creople/images/left-arrow.png'); background-repeat: no-repeat; background-position: left center; padding-left: 10px; font-weight:normal; font-size:12px; }
#block-menu-menu-categories > div.content > ul > li.expanded > ul > li > a {color:#fff; text-decoration:none;}
#block-menu-menu-categories > div.content > ul > li.expanded > ul > li > a:hover {color:#F60;}
#block-system-main > div > div.cart-empty-page,#block-system-main > div > div.view-mencapview , #block-system-main > div > div.view-womencapview  , #block-system-main > div > div.view-mentshirtview , #block-system-main > div > div.view-womenstshirtview , #block-system-main > div > div.view-mensweatsview , #block-system-main > div > div.view-womensweatsview , #block-system-main > div > div.view-store-view-1 , #block-system-main > div > div.view-menskooziesview , #block-system-main > div > div.view-womenskoozies  {width:525px; float:right; border: 2px solid #d2d2d2; padding: 8px 0 0 5px; margin-top: -10px; min-height: 385px;}

#search-block-form > div > div > #edit-actions > input#edit-submit--3 {display:none;}



ul > li.thumb-down > div {display: inline-block;}
.rate-widget-thumbs_up_down ul li {width:auto;}
div.link-wrapper > ul {padding-left:4px;}
#comments > div.comment-text > div.content > div.sharethis-comment > div {float:left; display:inline-block;}
#rate-button-3 {background: url(../images/thumbsup.png) no-repeat ;}
#rate-button-4 {background: url(../images/thumbsdn.png) no-repeat ; margin-left:10px; margin-top:8px;}

#main-menu-links > li.menu-379 {background-image: url('../images/span.png'); background-repeat: no-repeat; background-position: left;}
#main-menu-links > li.menu-380 {background-image: url('../images/span.png'); background-repeat: no-repeat; background-position: left;}
#main-menu-links > li.menu-381 {background-image: url('../images/span.png'); background-repeat: no-repeat; background-position: left;}
#main-menu-links  a {background: none; color: #dbdada; font-weight:900; text-shadow: none; float:none; font-size: 13px; font-family: Tahoma, Geneva, sans-serif; line-height:32px;}
#main-menu-links  a:hover { color: #fff; font-weight:900; background:none;}
#main-menu-links  li.active-trail a  {background: none;}
#main-menu-links {}
#main-menu-links > li {padding: 0 0; float:none; display:table-cell; width:20%; vertical-align: middle;}
#block-menu-menu-shop-creople2 > div > ul > li {list-style-type:none; list-style-image:none;background:none; border:none;  margin-top: 0px; padding: 0; opacity:0.8;}
#block-menu-menu-shop-creople2 > div > ul > li:hover {opacity:1;}
#block-menu-menu-shop-creople2 {margin-top:-10px; margin-left: -12px; background:none; border: none; padding:0; margin-bottom:0;}
#main-menu {text-align:center; margin-bottom:10px; }
#main-menu-links > li.menu-1513 {display:none;}
#main-menu-links > li.menu-1514 {display:none;}
#block-system-navigation > div.content > ul > li:nth-child(5) > span >a {color: #fff;font-size: 12px;font-weight: 700;text-transform: uppercase;
display: inline-block;width: 150px;height: 27px;text-decoration: none;font-family: Verdana, Helvetica, Arial, sans-serif;}

#block-system-navigation > div.content > ul > li {background: url(../images/bluebar.jpg); width:150px;background-size: 152px 28px;border: 1px solid #154a90; background-position: center; line-height:28px;  border-radius:5px; margin-top: 5px; margin-left:auto; margin-right:auto;}
#block-system-navigation > div.content > ul > li > a {color: #fff; font-size:12px; font-weight: 700; text-transform: uppercase; display: inline-block; width:150px; height: 27px;  text-decoration: none; font-family:Verdana, Helvetica, Arial, sans-serif;}
#block-system-navigation > div.content > ul > li:hover {background-image: url(../images/greenbar.jpg); background-size: 150px 28px; border: 1px solid #2B7714;}
div#block-views-profile-block > div.content > div > div > div > div.node > h2 > a > div {margin-left: 25px;}
div#block-views-profile-block > h2 {display:none;}
#block-menu-menu-registration-side-bar > div > ul > li.leaf{list-style-type: none; list-style-image: none;}
#block-menu-menu-registration-side-bar > div > ul > li.first.leaf {background-image: url(../images/sign_part.png); background-size: 220px; width:220px; background-repeat: no-repeat; height:45px; line-height:18px; text-align:center; color:white; font-size:15px;}
#block-menu-menu-registration-side-bar > div > ul > li.first.leaf > a {color:white; font-size:20px; line-height:38px; font-family:Helvetica, sans-serif; font-weight:700; text-decoration: none; width:220px; height:40px; display:inline-block;}
#block-menu-menu-registration-side-bar {margin: 0; padding:0 20px 0 20px;}
#name-and-slogan {margin: 0; margin-bottom:20px;float: none;}
#block-user-login {margin-bottom: 0px; padding-top:0; padding-left:15px;}
.sidebar .section {padding: 0 10px;}
.view-womenstshirtview {width: 500px; float: left; border: 2px solid gray; margin-left: 5px; margin-top:-10px;}
.sidebar h2 {width:100%;font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-weight:700; border-bottom: 2px solid #d6d6d6; display:inline-block;}
#block-system-navigation > div.content > ul > li:nth-child(6) > span > a {width:150px; height: 27px; color: #FFF; text-decoration: none; font-weight:700; text-transform:uppercase; font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif;}
#block-superfish-1 #menu-768-1 {
background-color: #fff;
    background-image: url("../images/orangebox.png");
    background-repeat: no-repeat;
    background-size: 220px auto;
    border: 0 none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    width: 220px;

}
#menu-768-1 > span:hover {cursor: pointer; cursor: hand; }
#menu-768-1 > ul {
background: none repeat scroll 0 0 #f3fbfe;
    border: 1px solid #bfd3d2;
    border-radius: 5px;
    opacity: 0.8;
    padding: 7px;
    width: 195px !important;
	left: 13px;
	top:35px;
	height: inherit;

}

.logged-in #block-superfish-1 #menu-768-1 {
background-image: url("../images/orangebox_loggedin.png");
    display: block;
    float: none;
    line-height: 35px;
	font-weight: bold;
    margin-right: auto;
    text-align: center;
    width: 150px;
	background-size: 150px;
	margin-left: auto;
}
.logged-in #menu-768-1 > span {
width: 150px;
font-size: 16px;
text-align: center;
color: #fff;
}
.logged-in #menu-768-1 > ul {
    width: 150px !important;
	height: inherit;
	position: relative;
	left:0;
	top:0;
}
.logged-in #menu-768-1 > ul li {
 float: inherit;
}
#menu-768-1 > ul > li > a {display:inline-block; padding: 0 8px; margin-bottom: 7px; color: #333; text-decoration: none; font-family: Arial, Helvetica, sans-serif;; font-size: 12px; font-style: normal; color: rgb(51,51,51); padding-left: 8px; padding-right:8px;}
div.location-locations-display > h3 {margin: 0; font-weight:700;}
div.content.clearfix  .bottom-box > ul > li.map {}
div.content.clearfix ,.comment-text{border:2px solid #dedddd; margin-bottom:20px;
padding: 10px;
position:relative;
min-height: 220px;
background:#fff;}

tr, tr.even {background: 0;}
tr td, tr th {padding: 0 5px ; vertical-align:top;}
#contact-site-form > div > div.form-item > label{width: 83px; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:12px; vertical-align:top;}
#contact-site-form > div > div.form-item > input{width:300px; display:inline-block; border-radius:0; line-height:24px; height:24px; font-family: Arial, Helvetica, sans-serif; font-size:12px;}
#contact-site-form > div > div > div > textarea#edit-message {border-radius: 0;}
#contact-site-form > div > div > #edit-copy {width: auto;}
#contact-site-form > div > div.form-item.form-type-textarea.form-item-message {width:550px;}
#contact-site-form > div > div.form-item.form-type-textarea.form-item-message > div {width:406px; display:inline-block;}
#contact-site-form > div > div.form-item.form-type-checkbox.form-item-copy {margin-left:85px;}
#contact-site-form > div > #edit-actions > input#edit-submit.form-submit {text-align:left; display:block; margin-left:85px; margin-top: -15px;}
#contact-site-form > div > div.form-item.form-type-checkbox.form-item-copy > label.option {width:130px; margin-top: 5px;}
.contact-form#edit-name, .contact-form#edit-mail, .contact-form#edit-subject {width:200px; border-radius: 0 ; -webkit-border-radius: 0; -moz-border-radius: 0; -khtml-border-radius: 0;}
div.views-field.views-field-picture > div > a > img {border: 1px solid black; border-radius:5px; width:50px; height:auto;}

fieldset {margin-bottom:0;}
a.username,.view-creopied-by .views-field-name a {color: #2c2c2c; font-weight:700; font-size:10px; display:inline-block; }
div.content.clearfix > .bottom-box ul > li.comment-comments {display:none;}
#content > div > div.tabs {display:none;}
a:active {background:none;}
#page-title {display:none;}
#user-login-block-form-fields > div.form-item.form-type-textfield.form-item-name > label {display:none;}
.not-logged-in .comment_forbidden {display: none;}
div.content.clearfix > ul > li.comment_forbidden {display:none;}
div.content.clearfix > ul > li.comment-add.last {}
div.content.clearfix > ul > li.comment-new-comments {}
.comment .attribution {width:119px;}
div.content.clearfix:before{position: absolute; left:0;margin-left: -18px;content: ''; width: 25px; height:25px; background-image: url('../images/triangle.png');
}
/*div.content.clearfix > ul {position:absolute; margin-top: 165px; margin-left:10px; margin-bottom: 10px;z-index:1; bottom:0; left:0;}*/
div.content.clearfix > ul > li.comment_forbidden.last {display:none;}
#block-system-main.content {margin-top:30px; padding-top:30px;}
div.content.clearfix > div.field.field-name-field-anonymous.field-type-list-boolean.field-label-above > div.field-label {display:none;}
.vud-widget-upanddown .up-score .up-current-score, .vud-widget-upanddown .down-score .down-current-score {display: inline;
font-size: 10px;text-align: right;font-family: arial, helvetica, sans-serif;}
div.content.clearfix > div.field.field-name-field-address.field-type-location.field-label-inline.clearfix > div.field-label
.vud-widget-upanddown .up-inactive,.vud-widget-upanddown div.up-inactive,.vud-widget-upanddown .up-inactive:hover{background: url('../images/thumbsup.png'); width:24px; height:21px;background-position: 0 -42px; }
.vud-widget-upanddown .down-inactive,.vud-widget-upanddown div.down-inactive,.vud-widget-upanddown .down-inactive:hover{background: url('../images/thumbsdn.png'); width:24px; height:21px;background-position: -24px -42px; }
#content h2{width:500px; font-size: 10px; font-weight:700; text-align:left;}
#content > div > a.feed-icon > img {display:none;}
.field-item {font-family: Arial, Helvetica, sans-serif;}
div.field.field-name-field-address.field-type-location.field-label-inline.clearfix > div.field-label {display:none;}
div.meta.submitted > span > a {font-size: 12px; color:#2b2b2b; display:block;}
.down-current-score { color: #f00; font-weight:700;}
.up-current-score     { color: #2c2; font-weight:700; }
div.content.clearfix > div.field.field-name-field-categories.field-type-taxonomy-term-reference.field-label-above.clearfix {font-size: .1px;}
div.meta.submitted > span {font-size: 10px;}
div.link-wrapper {float:left;}
#block-menu-menu-side-bar-menu {margin-bottom:0;}
#logo {margin-top:30px;}
#block-system-navigation > div.content > ul.menu.clearfix {padding-left:0;}
.bottom-box {
position: absolute;
bottom: 5px;
width: 97%;
}
div.content.clearfix > .bottom-box ul > li.map {
 margin-left: 5px;
}
.bottom-box .sharethis-wrapper {
 float: left;
 margin-left: 2px;
}
.bottom-box .field-name-field-voting-field {
 float: left;
}
.bottom-box .up-score {
 float: left;
 margin-top: -5px;
}
.bottom-box .down-score {
 float: left;
}
.bottom-box .up-current-score {
	float: left;
    margin-left: 2px;
    text-align: center !important;
}
.bottom-box .down-current-score {
float: left;
    margin-left: 2px;
    text-align: center !important;
}
#edit-field-copy-to-friend-und {
 display: none;
}
#edit-field-copy-to-friend  label, #edit-cancel{
background: url("../images/global_blk_btn_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 0;
    outline: medium none;
    padding: 0 5px;
}
#edit-field-copy-to-friend {
 float: left;
}
div#edit-actions.form-actions.form-wrapper {
 text-align: left;
}
.page-node-add-posts #edit-actions{
margin-left: 5px;
    padding: 0;
    text-align: left;
}
.page-node-add-posts #edit-actions #edit-submit {
  margin-left: 5px !important;
}
#edit-field-send-email input {
margin-left: 140px;
}
#block-views-creopied-by-block-1 {
 padding: 0;
}
#block-views-creopied-by-block-1  td {
 padding: 0;
 width: 33%;

}
#block-views-creopied-by-block-1  td.col-first ,#block-views-creopied-by-block-1  td.col-last {

}
#block-views-creopied-by-block-1  img {
 width: 65px;
}
.view-media {
text-align: center;
}

.bottom-box .field-name-field-upload-video {
 float: right;
}
.bottom-box .field-name-field-upload-media {
 float: right;
}
.bottom-box ul {margin: 0;}
.bottom-box ul li {
 background: url("../images/global_blk_btn_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #101010;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-top: 1px;
    outline: medium none;
    padding: 0 8px;
	text-align: center;
 margin-left: 0 !important;
 margin-right: 2px !important;
 text-transform: capitalize;
}
.bottom-box ul li a,.bottom-box ul li span {
	color: white;
    font-size: 11px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 2px;
    text-decoration: none;
/*	margin-left: 4px;
*/	
}
.bottom-box ul li.node-readmore a {
margin-left: 0;
}
.front #page-title.title {
 display: none;
}
.bottom-box ul  li.node-readmore{margin-top:1px;border: 0; background-repeat: no-repeat; line-height:30px; display:inline-block; text-align:center; padding:0; width: 69px; height:25px;float: left;}
.comment .content {
 font-size: 1.071em;
}

.bottom-box li.flag-report {
background: none;
border: 0;
padding: 0 !important;

}
.bottom-box li.flag-report a {
 color: #db1d3c;
 
}
.bottom-box li.flag-report a.unflag-action{
color: #146e40;

}
.bottom-box li.flag-report a.unflag-action i{
 vertical-align: top;
}
.form-item-field-address-und-0-locpick-user-latitude,.form-item-field-address-und-0-locpick-user-longitude {
 display: none;
}
#edit-field-address .description,#edit-field-address-und-0-locpick-current {
 display: none;
}
#user-login-block-container > div:nth-child(2) > div.links > a {
// margin-left: 20px;
display: block;
}
#edit-persistent-login, #user-register-form #edit-field-terms-of-use-und {
 margin-left: 0 !important;
}
#user-login-block-container  .links {
 float: left;
 width: 69%;
}
#user-login-block-container #edit-actions {
 display: none;
}
#content {
background: url("../images/mid_lowerBG.png") no-repeat;
}
#block-block-7 {
 padding: 0 20px;
 margin-bottom: 10px;
 opacity: 0.8;
 margin-top: 10px;
}
#block-block-7:hover {
 opacity: 1;
}
#block-block-7 .content {
 margin-top: 0;
}

2.region-header {
 float: none;
}
.region-header .block {
 float: none;
}
.region-header {
 margin: 0;
}
.region-header .block {
 margin: 0;
}

#name-and-slogan {
 text-align: right;
}
#logo {
 float: none;
 padding: 0;
}
.image-logo,.header-categories {
text-align: center;
}

.image-logo  img{
max-width: 100%;
}
#block-menu-menu-creople-top-menu  ul.menu{
padding-left: 0;
}
#name-and-slogan {
padding-top: 0;
}
#site-slogan {
text-align: center;
}
#main-menu-links li {
background-repeat: repeat-y;
background-image: url('../images/span.png');
 background-repeat: repeat-y !important; 
 background-position: right;

}
#page-wrapper {
 min-width: inherit;
}
#sidebar-first, #sidebar-second {
 width: inherit;
}
.sidebar .section {
padding: 0;
}
#block-menu-menu-side-bar-menu {
 padding: 0;
}
.sidebar .block {
 padding: 0;
}
#edit-search-block-form--2 {
 width: 82%;
}
.submitted .user-picture img {
 float: none;
}
.submitted {
 text-align: center;
 
}
.submitted .user-picture {
 margin-bottom: 10px;
}
.node-teaser h2 {
font-size: 13px;
}
body span.menu-toggle {
    background: none repeat scroll 0 0 #6e82a3;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    line-height: 50px;
    margin-top: 15px;
    padding: 15px;
}
.no-padding {
 padding-left: 0 !important;
 padding-right: 0 !important;
}

#block-menu-menu-mobile-navigation-menu li{
 display: inline;
 list-style: none;
 font-size: 16px;
 border-right: 1px solid;
 padding-right: 10px;
 padding-left: 10px;
 text-align: center;
}
#block-menu-menu-mobile-navigation-menu  li  a{
text-decoration: underline;

}
#block-menu-menu-mobile-navigation-menu  li.last {
border-right: 0;
}
.welcome {
    border: 1px solid #959595;
    border-radius: 5px;
    color: #747474;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}
.logout  a{
background: none repeat scroll 0 0 #dbdbdd;
    border-radius: 5px;
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.logout a:hover {
 background: #979797;
 text-decoration: none;
}
.logout {
 margin-top: 10px;
}
#block-block-8 .user-picture {
text-align: center;
}
#block-block-9 {
background: none repeat scroll 0 0 #e6e6e6;
    border-bottom: 2px solid #b0b0b0;
    border-top: 2px solid #b0b0b0;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 10px;
    text-align: center;
}
#block-block-9  input[type="submit"] {
background: #387fe9;
border: 1px solid #314b84;
color: #fff;
border-radius: 5px;
}
#block-menu-menu-creople-top-menu img {
// width: 100%;
}
#block-menu-menu-registration-side-bar ul {
 padding: 0;
}
#block-superfish-1 ul {
 margin:0;
 padding: 0;
}
#block-superfish-1 {
 padding: 0 20px;
}
.logged-in #block-block-7 {
 text-align: center;
}
.hybridauth-facebook {
 background: url("../images/fb-btn.png") no-repeat scroll 0 0 / 220px auto rgba(0, 0, 0, 0);
    height: 48px;
    width: 220px;
}
#block-block-10 {
  margin-bottom: -3px;
    padding: 0 20px;
}
.logged-in #block-superfish-1 ul {
width: auto;
}
.field-type-image img, .user-picture img {
 margin: 0;
}
.tabs{
 display: none;
}

.page-map #openlayers-container-openlayers-map .olMapViewport g circle {width: 25px; height: 41px; background: url(../images/marker-creople.png) no-repeat;}
.page-user-friends .tabs {
 display: block;
}
#edit-cancel {
    display: inline-block;
    height: 24px;
    line-height: 22px;
    margin-left: 5px;
}
.subscribe,.unsubscribe {
 display: none !important;
}
#invite-withdraw-form h2 {
 display: none;
}
.simpleads-wrapper {
 min-height: 400px;
}
#block-block-9 .form-text {
 border-radius: 5px;
}
#block-menu-menu-mobile-navigation-menu .content {
 display: table;
    margin: 10px auto 0;
}
.simpleads-item  img{
max-width: 100%;
}
.simpleads-item {
width: 100% !important;
}

.node-posts .field-type-file.custom {
  height:auto;
}
.comment {word-break: break-all;}
