body {
    padding: 50px 0px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

h1 { color: #0079c1; padding-bottom: 10px; border-bottom: 1px solid #d2d2d2; margin-bottom: 15px; font-weight: normal; margin-top: 0px; }
code { border: 1px solid #e1e1e8; }
code.sample { color: #333; }
code.url { color: #f0ad4e; }
span.code { color: #c7254e; }
.panel-heading h3 { margin: 0px; }
.panel-body h4 { padding-bottom: 15px; border-bottom: 1px solid #d2d2d2; margin-bottom: 0px; font-weight: normal; margin-top: 20px; }
.table>thead>tr>th { width: 20%; }
.table>thead>tr>th.last { width: 80%; }
.table>tbody>tr>td ul.sub-structure { list-style-position: inside; margin: 0px; padding: 0px; }
.table>tbody>tr>td ul li { margin: 5px 0px; display: list-item; }

#api_main_content { margin-top: 40px; }
#api_left_menu { }

ul.screenshots { list-style: none; margin: 20px 0px; padding: 0px; }
ul.screenshots li { float: left; width: 50%; padding: 0px; margin: 0px 0px 30px; text-align: center; }

blockquote { font-size: 14px; }
span.red { color: #c7254e; }
span.required { color: #c7254e; font-size: 18px; line-height: 16px; }

ul.nav-sidebar li a { outline: none; }
ul.nav-sidebar li ul { display: block; }
ul.nav-sidebar li ul li { padding: 5px 0px; margin: 0px; }
ul.nav-sidebar li.menu-hover { /*background: #EEE;*/ }
ul.nav-sidebar li a.active {
  color: #FF0000;
  font-style: italic;
}