@media screen and (max-width: 767px) {
   #block-menu-menu-creople-top-menu ul li {
float:none!important; 
     	 border:none!important;
         display:inline-block!important;
         vertical-align:middle!important;
         font-size:0px!important;
         width:19%!important;
   }
   #block-menu-menu-creople-top-menu ul li a {line-height:10px!important;}
   #block-menu-menu-creople-top-menu img {max-width:100%!important;position:relative;}

}

@media screen and (max-width: 500px) {
   #block-menu-menu-creople-top-menu a img {max-height:41px!important;}
   .menu_bosses img{width:52px!important;top:4px;}
   .menu_teacher img{width:50px!important;top:5px;}
   .menu_rottern_customers img{top:2px;}
   .menu_bullies_unmask img{top:-1px;}
   #block-menu-menu-creople-top-menu .menu_random_wtf img{max-height:50px!important;width:50px!important;top:-2px;}

}





