.row.header-categories, #block-search-form, .sidebar>div {display:none!important;}
.sidebar {height:100%;}
#middle-content,  .sidebar {border-top: 1px solid #999;}
#middle-content {
    min-height: 350px;
}

